extends layout
block header
	.header-wrapper
		include include/incl-header

block content

	main
		.about
			.about__header(data-aos="fade" data-aos-duration="600")
				h1 Toys for modern families
				p We create toys for mothers, who want to play with their children in an aesthetically way and not to feel bored about play
			.about__content-sm
				.about__content-sm-img-lg
					div(data-aos="fade" data-aos-duration="600")
						img(src="images/content/about-6.jpg" alt="")
				.about__content-sm-img-sm
					div(data-aos="fade" data-aos-duration="600")
						img(src="images/content/about-4.jpg" alt="")
				.about__content-sm-text
					div(data-aos="fade" data-aos-duration="600")
						h2 Meant<br> to bring together
						p We will help to play with joy, to make the days of motherhood more diverse and peaceful, and to develop creativity in your children.
			.about__content-col
				div(data-aos="fade" data-aos-duration="800")
					.about__content-col-img-lg
						img(src="images/content/about-5.jpg" alt="")
				div(data-aos="fade" data-aos-duration="800")
					.about__content-col-img-sm
						img(src="images/content/about-7.jpg" alt="")
				div(data-aos="fade" data-aos-duration="800")
					h2 Made of true wood with it’s natural patterns
				.about-col(data-aos="fade" data-aos-duration="800")
					p Our toys are made in Russia, by hand and in small batches. We produce ethical toys that will never serve a bad example for your children. We use only solid wood grown in our region and we buy it from a responsible supplier. We are strongly against wood wasting and we use the wood with marks on it.
					p We think they look so natural, like moles, freckles or stretch marks which people have. Our toys are coated with water based varnish which keeps the natural pattern of the wood and preserves its tactility. All our toys are so pleasant to touch.
			div(data-aos="fade" data-aos-duration="800")
				.about__foto-md
					img(src="images/content/about-8.jpg" alt="")
			div(data-aos="fade" data-aos-duration="800")
				.about__foto-sm
					img(src="images/content/about-9.jpg" alt="")



