extends layout
block header
	.header-wrapper
		include include/incl-header

block content

	main
		.faq-page
			.container
				.faq
					.faq__image
						img(src="images/content/faq.jpg" alt="")
					.faq__questions
						.faq__title
							h2 faq
						.accordion
							each item, index in accordion
								.section
									a(class="section-title" href="#accordion-"+index )= item.question
									div(id="accordion-"+index class="section-content")
										p= item.answer
				.footer-img
					img(src="images/content/faq-footer.jpg" alt="")