doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		title Raduga Grez
		meta(name="description" content="")
		meta(name="keywords" content="")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js")
		script(src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.0/ScrollTrigger.min.js")
		script(src="js/lib/locomotive-scroll.min.js")
		script(src="js/lib/swiper-bundle.min.js")
		script(src="https://unpkg.com/current-device/umd/current-device.min.js")
		link(rel="stylesheet" href="css/lib/swiper-bundle.min.css")
		link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css")
		link(rel="stylesheet" href="css/raduga-grez.css")

	body
		.loading-screen
			.loading-screen__svg
				.loading-overlay
				img(src="images/loading.svg")

		div(data-scroll-container)
			div(data-scroll-section)
				block header
				block content
				.join-us
					.join-us__content
						h2 Join our newsletter
						form
							.join-us-form
								input(type="text" placeholder="email" class="inp-subscribe")
								input(type="submit" class="submit-subscribe" value="")
								.join-us-form__info.d-none
									span Thanks for subscribing!
									//span.error Enter your correct email
				footer(class="footer")
					.footer__content
						.footer__mail
							p Interested in a Raduga Grëz?
							a(href="mailto:hello@raduga-grez.ru") hello@raduga-grez.ru

						.footer__menu
							nav
								each item in footerMenu
									ul.footer-menu
										li= item.header
											each subitem in item.links
												li
													if item.outside === true
														a(href="" target="_blank")= subitem.title
													else
														a(href="")= subitem.title

					.footer__top
						span#button-top.js-top Back to Top

					.footer__copyright &copy; 2020 All rights reserved RADUGA GRËZ

					.cookies-info.d-none
						p This website uses cookies to give you the best shopping experience. By continuing to browse the website we assume that you agree to the use of such cookies.
						button(type="button") Accept

				.overlay

		script(src="js/raduga-grez.js")
