extends layout
block header
	.header-wrapper
		include include/incl-header

block content

	main
		.container
			.shipping
				.shipping__title
					h1 Shipping
				.shipping__content
					each item, i in shipping
						.shipping__item(id="shipping-item-"+ i data-scroll data-scroll-repeat)
							h4= item.heading
							p= item.info
