extends layout
block header
	.header-wrapper
		include include/incl-header

block content

	main
		.container
			.stories
				.stories__title
					h1 Stories
				.stories__list
					each item in stories
						a(href="stories-item.html").stories__item
							.stories__img
								img(src= item.img alt= item.img)
							span.date= item.date
							p= item.title
				.pagination
					.pagination__list Сюда пагинация