extends layout
block header
	.header-wrapper
		include include/incl-header

block content

	main
		.container
			.stories-item
				.stories-item__header
					.stories-item__title
						span.date 24.07.2020
						h1 Dasha & Una
					.stories-item__img
						img(src="images/content/stories-10.jpg" alt="")
				.stories-item__text-left
					.stories-item__text-left-content
						h5 Alumni and talented woodworker, answered some questions about motherhood and the daily rituals.
						p We had the joy of working with her in both our Ponsonby store and the Mt Maunganui Pop up, she has been on maternity leave since Milo was born.
				.stories-item__img-sm
					img(src="images/content/stories-11.jpg" alt="")
				.stories-item__img-text
					.stories-item__img-text-item
						img(src="images/content/stories-12.jpg" alt="")
						.stories-item__img-subtitle
							p What daily rituals are you performing to keep healthy and happy? I’ve started wetting a face towel and pressing water into my skin.
							span.subtitle On the photo:
							p
								a(href="") Forest set
								|  and&nbsp;
								a(href="") Women building
								|  blocks colored
					.stories-item__img-text-item
						img(src="images/content/stories-13.jpg" alt="")
						.stories-item__img-subtitle
							p What daily rituals are you performing to keep healthy and happy? I’ve started wetting a face towel and pressing water into my skin.
							span.subtitle On the photo:
							p
								a(href="") Forest set
								|  and&nbsp;
								a(href="") Women building
								|  blocks colored
				.stories-item__2-img-text
					.stories-item__img-sm-absolute
						img(src="images/content/stories-15.jpg" alt="")
					.stories-item__img-md
						img(src="images/content/stories-14.jpg" alt="")
						.stories-item__img-subtitle
							p What daily rituals are you performing to keep healthy and happy? I’ve started wetting a face towel and pressing water into my skin.
							span.subtitle On the photo:
							p
								a(href="") Forest set
								|  and&nbsp;
								a(href="") Women building
								|  blocks colored
				.stories-item__only-text
					h5 “And at the end of the day I talk to my mum on the phone. It has been a ritual ever since I moved out of home, and even if we can only squeeze in five minutes it’s one constant that I look forward to and always feel better for it.”
				.stories-item__full-img
					img(src="images/content/stories-16.jpg" alt="")
					.stories-item__img-subtitle
						p What daily rituals are you performing to keep healthy and happy? I’ve started wetting a face towel and pressing water into my skin.
						span.subtitle On the photo:
						p
							a(href="") Forest set
							|  and&nbsp;
							a(href="") Women building
							|  blocks colored
				.stories-item__img-sm.stories-item__img-sm--center
					img(src="images/content/stories-17.jpg" alt="")
				.stories-item__img-sm
					img(src="images/content/stories-18.jpg" alt="")
				.stories-item__img-text.stories-item__img-text--narrow-stairs
					.stories-item__img-text-item
						img(src="images/content/stories-19.jpg" alt="")
						.stories-item__img-subtitle
							p My son was born in January, so it feels like I have been in a bubble for a while now. As a new mother spending days centred around home, not too much has changed - however during level four my partner Morgan was home from work and we really treasured this time together.
							span.subtitle On the photo:
							p
								a(href="") Forest set
								|  and&nbsp;
								a(href="") Women building
								|  blocks colored
					.stories-item__img-text-item
						img(src="images/content/stories-20.jpg" alt="")
						.stories-item__img-subtitle
							p What daily rituals are you performing to keep healthy and happy? I’ve started wetting a face towel and pressing water into my skin.
							span.subtitle On the photo:
							p
								a(href="") Forest set
								|  and&nbsp;
								a(href="") Women building
								|  blocks colored
				.stories-item__img-right-lg
					.stories-item__img-right-lg-content
						img(src="images/content/stories-21.jpg" alt="")
						.stories-item__img-subtitle
							p What daily rituals are you performing to keep healthy and happy? I’ve started wetting a face towel and pressing water into my skin.
							span.subtitle On the photo:
							p
								a(href="") Forest set
								|  and&nbsp;
								a(href="") Women building
								|  blocks colored
				.stories-item__img-text.stories-item__img-text--narrow
					.stories-item__img-text-item
						img(src="images/content/stories-22.jpg" alt="")
						.stories-item__img-subtitle
							p What daily rituals are you performing to keep healthy and happy? I’ve started wetting a face towel and pressing water into my skin.
							span.subtitle On the photo:
							p
								a(href="") Forest set
								|  and&nbsp;
								a(href="") Women building
								|  blocks colored
					.stories-item__img-text-item
						img(src="images/content/stories-23.jpg" alt="")
						.stories-item__img-subtitle
							p What daily rituals are you performing to keep healthy and happy? I’ve started wetting a face towel and pressing water into my skin.
							span.subtitle On the photo:
							p
								a(href="") Forest set
								|  and&nbsp;
								a(href="") Women building
								|  blocks colored
				.stories-item__img-left-lg
					.stories-item__img-left-lg-content
						img(src="images/content/stories-24.jpg" alt="")
						.stories-item__img-subtitle
							p What daily rituals are you performing to keep healthy and happy? I’ve started wetting a face towel and pressing water into my skin.
							span.subtitle On the photo:
							p
								a(href="") Forest set
								|  and&nbsp;
								a(href="") Women building
								|  blocks colored
				.stories-item__only-text
					h5 “And at the end of the day I talk to my mum on the phone. It has been a ritual ever since I moved out of home, and even if we can only squeeze in five minutes it’s one constant that I look forward to and always feel better for it.”
					p How have you found this lockdown as a new mother? My son was born in January, so it feels like I have been in a bubble for a while now. As a new mother spending days centred around home, not too much has changed - however during level four my partner Morgan was home from work and we really treasured this time together. After having a baby I found that simple moments with family and friends was the best medicine, especially when feeling tired and adjusting to a new rhythm. Having their company or watching your child be loved and cared for by the people who are most important to you is a beautiful thing. Missing these moments has been the hardest part of lockdown.
				.stories-item__footer
					.stories-item__footer-content
						.stories-item__footer-content-item
							span Photo:
							p Karina Zhukovskaya
						.stories-item__footer-content-item
							span Style:
							p Zalya Shokarova
						.stories-item__footer-content-item
							span Video:
							p Julia Komis


		.stories-item-next
			.container
				.stories-item-next__content
					.stories-item-next__link
						span Next story:
						a(href="")  At home with Gabrielle
					.stories-item-next__img
						img(src="images/content/stories-25.jpg" alt="")
						a(href="" class="btn-outline btn-outline--light")
							span Next