extends layout
block header
	.header-wrapper
		include include/incl-header

block content

	main
		.container
			.wholesale
				.wholesale__img
					img(src="images/content/wholesale-1.jpg" alt="")
				.wholesale__info
					p We make toys by hand and in small batches. At the moment our workshop is full with our current clients’ orders and we hardly take new wholesale customers. The exception can be made to the countries where we are not or quite little represented, or if we dream of having our toys in your shop.
					p If you want to work wholesale with us please send an email with some information about you and your shop
					a(href="mailto:hello@raduga-grez.ru") hello@raduga-grez.ru
				.wholesale__img-center
					img(src="images/content/wholesale-2.jpg" alt="")
				.wholesale__img-footer
					img(src="images/content/wholesale-3.jpg" alt="")