
$beige1: #E1DFD3;
$beige2: #D4D2C3;

$beige-text: #EFEDE1;

$black: #292929;

$light-gray: #838383;
$light-gray-hover: #575757;

$dark-green: #464B3E;
$green: #5C6240;

$red-error: #DB7662;
$success: #778C52;

$btn-hover: #363636;