@import "_reset";
@import "_variables";
@import "_mixins";
@import "_typography";
@import "_forms-elements";

* {
	box-sizing: border-box;
}

section {
	min-height: 100vh;
}

html {
	overflow-x: hidden;
}

.loading-screen {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $beige1;
	z-index: 99;
}




body {
	height: 100vh;
	position: relative;
	min-width: 375px;
	background-color: $beige1;
	font: 16px/170% 'Pangram';
	letter-spacing: .01rem;

	&.menu-opened {
		.mobile-menu-img,
		.mobile-menu-logo {
			@include responsive(device) {
				opacity: 1;
			}
		}
		
		.out {
			transform: translateY(0);
		}
		
		.menu-close {
			@include responsive(device) {
				display: block;
				position: absolute;
				z-index: 3;
				width: 27px;
				height: 26px;
				right: 26px;
				top: 30px;
				background: url(../images/close-dark.svg) 0 0 no-repeat;
			}
		}
		
		main,
		footer,
		.join-us {
			opacity: 0;
			height: 0;
		}
	}
	
	&.loading {
		overflow: hidden;
	}
}

.container {
	width: 100%;
	max-width: 1610px;
	margin: 0 auto;
	padding: 0 26px;
	box-sizing: border-box;
}

.d-none {
	display: none;
}

.hidden {
	visibility: hidden;
}

.header {
	display: flex;
	position: fixed;
	z-index: 99;
	width: 100%;
	background-color: $beige1;
	transition: transform .3s ease-in-out;
	
	&.out {
		transform: translateY(-100%);
	}
	
	&--index {
		background-color: $dark-green;
		
		.menu li a {
			@include responsive(desktop) {
				color: $beige1;
			}
		}

		.header__logo {
			a {
				background: url(../images/raduga-grez.svg) 0 0/contain no-repeat;
			}
		}
		
		.menu-search {
			a {
				&:after {
					background: url(../images/icon-search.svg) 50% 50% no-repeat;
				}
			}
		}
		
		.menu-btn {
			background: url(../images/menu-light.svg) 50% 50% no-repeat;
		}
	}
	
	@include responsive(device) {
		padding: 30px 26px;
	}
	
	@include responsive(desktop) {
		padding: 44px 26px;
		box-sizing: border-box;
	}
	
	&__content {
		display: flex;
		width: 100%;

		@include responsive(device) {
			align-items: center;
		}

		@include responsive(desktop) {
			max-width: 1610px;
			margin: 0 auto;
			align-items: center;
		}
	}

	&__logo {
		width: 200px;

		a {
			display: block;
			height: 16px;
			background: url(../images/raduga-grez-dark.svg) 0 0/contain no-repeat;
		}
	}

	&__menu {
		@include responsive(device) {
			margin-left: auto;
		}
		@include responsive(desktop) {
			display: flex;
			margin: 0 auto;
		}
		
		nav {
			@include responsive(device) {
				display: block;
				position: absolute;
				right: 0;
				left: 100%;
				top: 0;
				height: 100vh;
				overflow-y: auto;
				overflow-x: hidden;
				background-color: #E4E3DD;
				z-index: 2;
			}
		}
	}

	&__info {
		display: flex;
		flex-flow: column;
		align-items: center;
		justify-content: center;
		height: 100vh;
		
		h1 {
			color: $beige1;
			max-width: 230px;
			text-align: center;
			position: relative;
			z-index: 1;
			letter-spacing: .07rem;
			margin-top: -10px;
		}
	}
}

.mobile-menu-img {
	@include responsive(device) {
		opacity: 0;
		margin: 40px 26px 0 auto;
		transition: opacity .25s ease-in-out;
	}

	@include responsive(desktop) {
		display: none;
	}
}

.mobile-menu-logo {
	@include responsive(device) {
		opacity: 0;
		margin: 40px 0 0 0;
		height: 16px;
		transition: opacity .25s ease-in-out;
	}
	
	@include responsive(desktop) {
		display: none;
	}
}

.menu-back {
	@include responsive(device) {
		width: 28px;
		height: 28px;
		background: url(../images/arrow-dark.svg) 0 50%/contain no-repeat;
		display: block;
		transform: rotate(180deg);
	}
}

.mobile-link {
	@include responsive(device) {
		margin: auto 0 0 26px;
		padding-bottom: 40px;
	}
}

.menu-btn {
	@include responsive(device) {
		width: 28px;
		height: 28px;
		background: url(../images/menu-dark.svg) 50% 50% no-repeat;
	}
	
	@include responsive(desktop) {
		display: none;
	}
}

.menu-content {
	@include responsive(device) {
		position: relative;
		height: 100vh;
	}
	
	&__main {
		@include responsive(device) {
			display: none;
			flex-flow: column;
			align-items: baseline;
			top: 0;
			bottom: 0;
		}

		&.active {
			@include responsive(device) {
				display: flex;
				animation: opacity 1s;
			}
		}

		.menu {
			@include responsive(device) {
				margin: 60px 26px 0;
			}
		}

		li {
			@include responsive(device) {
				margin-top: 20px;
			}

			a {
				@include responsive(device) {
					font-family: 'Hatton', serif;
					text-transform: uppercase;
				}
				
				@include responsive(desktop) {
					font-family: 'Pangram', sans-serif;
				}
			}
		}
	}

	&__catalog {
		display: none;
		padding: 30px 26px 40px;
		
		.menu-catalog {
			li {
				a {
					color: $black;
					text-decoration: none;
				}
			}
		}

		&.active {
			display: block;
			animation: opacity 1s;
		}

	}
}

@keyframes opacity {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.menu {
	display: flex;
	
	@include responsive(device) {
		flex-flow: column;
	}

	li {
		@include responsive(desktop) {
			margin: 0 33px;
		}
		
		&.contact-us {
			@include responsive(desktop) {
				display: none;
			}
		}

		a {
			text-decoration: none;
			color: $black;

			@include responsive(device) {
				white-space: nowrap;
			}
		}
	}
}

.menu-search {
	a {
		padding-right: 24px;
		position: relative;
		
		&:after {
			@include responsive(desktop) {
				content: '';
				position: absolute;
				width: 16px;
				height: 30px;
				right: 0;
				background: url(../images/icon-search-dark.svg) 50% 50% no-repeat;
			}
		}
	}
}

.menu-catalog {
	@include responsive(device) {
		margin: 30px 0 0;
	}
	
	@include responsive(desktop) {
		margin: 0 0 80px;
	}

	&:not(:last-child) {
		li {
			position: relative;

			&:first-child {
				&:after {
					content: '';
					position: absolute;
					width: 11px;
					height: 1px;
					left: 0;
					bottom: -7px;
					background-color: $black;
				}
			}
		}
	}
	
	li {
		&:first-child {
			font-size: 1.25rem;
			margin-bottom: 15px;
		}
		
		margin-bottom: .25rem;
	}

	//li {
	//	@include responsive(device) {
	//		margin-top: 20px;
	//	}
	//
	//	a {
	//		@include responsive(device) {
	//			font-family: 'Hatton', serif;
	//			text-transform: uppercase;
	//		}
	//
	//		@include responsive(desktop) {
	//			font-family: 'Pangram', sans-serif;
	//		}
	//	}
	//}
}





.main-index {
	min-height: 100vh;
	background: #5C6240 url(../images/main-bg.jpg) 50% 0/cover no-repeat;
}


.header-video {
	width: 100%;
	object-fit: cover;
	margin-bottom: 45px;
	overflow: hidden;

	@include responsive(mobile) {
		max-width: 200px;
		height: 290px;
		margin-top: -50px;
	}

	@include responsive(portdesktop) {
		max-width: 324px;
		height: 420px;
		margin-top: -80px;
	}

	video {
		max-width: 100%;

		@include responsive(mobile) {
			margin-top: -40px;
		}

		@include responsive(portdesktop) {
			margin-top: -80px;
		}
	}
}

.cookies-info {
	position: fixed;
	bottom: 100px;
	right: 10%;
	background-color: #464B3E;
	padding: 34px 40px;
	color: $beige1;
	max-width: 406px;
	
	p {
		font-size: .875rem;
		letter-spacing: 0.01rem;
	}

	button {
		background-color: transparent;
		border: 0;
		color: $beige1;
		margin-top: 25px;
		font-size: .875rem;
		cursor: pointer;
		text-decoration: underline;
		
		&:focus {
			outline: none;
		}
	}
	
	&.hidden {
		display: none;
	}
}

main,
footer,
.join-us {
	transition: opacity .3s ease-in-out;
}


.main-about-us {
	padding: 120px 0 0;
	
	@include responsive(desktop) {
		padding: 300px 0 370px;
	}

	.title-small {
		text-align: center;
	}

	h2 {
		@include title(48px, 153%);
		max-width: 520px;
		letter-spacing: .25rem;
	}
}

.main-modern {
	margin: 0 auto 100px;

	@include responsive(desktop) {
		margin: 0 auto 460px;
	}

	.title-small {
		@include responsive(device) {
			text-align: left;
			color: $light-gray;
		}
	}

	&__title {
		position: relative;
		z-index: 9;

		@include responsive(desktop) {
			max-width: 1370px;
			margin: 110px auto 0;
		}
	}

	&__content {
		display: flex;
		justify-content: center;

		@include responsive(device) {
			flex-flow: column;
		}

		@include responsive(desktop) {
			margin-top: -150px;
		}
	}

	&__text {
		display: flex;

		@include responsive(mobile) {
			padding-top: 15%;
		}

		@include responsive(desktop) {
			max-width: 410px;
			padding-top: 175px;
		}

		&:last-child {
			align-items: center;
		}

		p {
			padding-right: 15px;
			margin-bottom: 40px;
		}
	}

	&__text-floating {

		@include responsive(mobile) {
			margin: 17% 0 0 40px;
		}

		@include responsive(tablet) {
			margin: 40px 0 0 40%;
		}

		@include responsive(desktop) {
			margin: 145px 0 0 50px;
		}
	}

	&__img {
		position: relative;

		img {
			display: block;
		}

		.main-about-top {
			position: absolute;
			top: 40px;
			right: 0;
			transform: translate(70%, 0);

			@include responsive(mobile) {
				max-width: 40%;
				transform: translate(10%, -20%);
			}

			@include responsive(tablet) {
				max-width: 20%;
				transform: translate(-60%, 30%);
			}
		}

		.main-about-content {
			@include responsive(mobile) {
				max-width: 80%;
				margin: 60px auto 0;
			}
			
			@include responsive(tablet) {
				max-width: 60%;
				margin: 60px auto 0;
			}
		}

		.main-about-bottom {
			position: absolute;
			bottom: 0;
			left: 0;
			transform: translate(-57%, 23%);

			@include responsive(mobile) {
				max-width: 45%;
				transform: translate(0, 50%);
			}

			@include responsive(tablet) {
				max-width: 25%;
				transform: translate(40%, 30%);
			}
		}
	}
}

.catalog {
	&--main {

		.catalog__item {
			@include responsive(device) {
				width: 50%;
				padding-top: 50%;
			}

			@include responsive(landdesktop) {
				width: 25%;
				padding-top: 25%;
			}

			&:first-child {
				@include responsive(device) {
					width: 100%;
					padding-top: 100%;
				}

				@include responsive(landdesktop) {
					width: 50%;
					padding-top: 50%;
				}

				.main-catalog__content {
					@include responsive(landdesktop) {
						padding: 50px;
					}
				}
			}
		}
	}

	h3 {
		@include title(34px, 164%);
		letter-spacing: .15rem;
	}

	&__title {
		max-width: 320px;
		
		@include responsive(device) {
			margin-bottom: 20px;
		}
		
		@include responsive(desktop) {
			margin-left: 10px;
			margin-bottom: 30px;
		}
	}

	&__list {
		overflow: hidden;
	}

	&__image {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		object-fit: cover;
		
		@include responsive(device) {
			padding: 2px;
		}

		@include responsive(desktop) {
			padding: 10px;
		}
	}

	&__item {
		position: relative;
		float: left;
		transition: opacity .3s ease-in-out;
		
		@include responsive(device) {
			width: 50%;
			padding-top: 50%;
		}
		
		@include responsive(landdesktop) {
			width: 33%;
			padding-top: 33%;
		}

		&:hover {
			&:before {
				content: '';
			}

			.catalog__category,
			.catalog__info {
				opacity: 1;
			}
		}

		&:before {
			background-color: rgba($green, .3);
			position: absolute;
			z-index: 2;
			
			@include responsive(device) {
				content: '';
				top: 2px;
				right: 2px;
				bottom: 2px;
				left: 2px;
			}
			
			@include responsive(desktop) {
				content: none;
				top: 10px;
				right: 10px;
				bottom: 10px;
				left: 10px;
			}
		}

		img {
			max-width: 100%;
			width: 100%;
			height: 100%;
		}
	}

	&__content {
		display: flex;
		flex-flow: column;
		position: absolute;
		z-index: 3;

		@include responsive(device) {
			padding: 15px;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}

		@include responsive(desktop) {
			padding: 25px;
			top: 10px;
			right: 10px;
			bottom: 10px;
			left: 10px;
		}
	}
	
	&__category {
		color: $beige-text;
		font-size: 14px;
		line-height: 170%;
	}

	&__info {
		margin-top: auto;
		color: $beige-text;
	}

	&__name {
		@include responsive(device) {
			font-size: 16px;
			line-height: 130%;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
		}

		@include responsive(desktop) {
			font-size: 18px;
			line-height: 170%;
		}
	}

	&__price {
		font-size: 16px;
		line-height: 170%;
	}

	.add-to-cart {
		@include responsive(device) {
			display: none;
		}

		@include responsive(desktop) {
			font-size: 14px;
			line-height: 170%;
			color: $beige-text;
			text-decoration: none;
			display: inline-block;
			margin-top: 20px;
		}
	}
}

.main-categories {
	@include responsive(mobile) {
		margin: 120px auto 0;
	}

	&__slider {
		@include responsive(mobile) {
			margin: 0 -26px;
		}
		
		@include responsive(tablet) {
			margin: 170px -26px 0;
		}

		@include responsive(desktop) {
			margin-bottom: 430px;
		}

		.swiper-container {
			max-width: 1540px;
			overflow: hidden;
		}
	}
}

.swiper-slide {
	display: flex;

	@include responsive(tablet) {
		min-height: 640px;
	}

	&__text {
		display: flex;
		align-items: baseline;
		flex-flow: column;
		justify-content: flex-end;
		box-sizing: border-box;
		
		@include responsive(device) {
			position: absolute;
			color: $beige-text;
			padding: 90px 26px 0;
			max-width: 400px;
		}
		
		@include responsive(desktop) {
			width: 34%;
			padding-right: 150px;
		}

		a {
			margin-top: 60px;
		}

		h3 {
			max-width: 180px;
			@include title(34px, 164%);
			margin-bottom: 40px;
			letter-spacing: .15rem;
		}

		.title-small {
			margin-bottom: 44px;
		}

		.btn {
			@include responsive(device) {
				color: $beige1;
				border-color: $beige1;
			}
		}
	}
	
	&__img {
		display: flex;
		justify-content: flex-end;
		
		@include responsive(mobile) {
			height: 600px;
		}
		
		@include responsive(tablet) {
			width: 100%;
		}

		@include responsive(desktop) {
			width: 66%;
		}

		img {
			@include responsive(device) {
				width: 100%;
			}

			@include responsive(desktop) {
				max-width: 100%;
			}
		}
	}
	
	&__buttons {
		height: 40px;
		
		@include responsive(device) {
			position: absolute;
			margin-top: -80px;
			width: 100%;
			color: $beige1;
		}
		
		@include responsive(desktop) {
			position: relative;
			width: 66%;
			float: right;
			margin-top: 20px;
		}
		
		.swiper-button-prev,
		.swiper-button-next {
			&:after {
				@include responsive(device) {
					background-image: url(../images/arrow-light.svg);
				}
			}
		}
		
		.devider {
			@include responsive(desktop) {
				position: relative;
				padding: 0 10px 0 8px;
			}

			&:before {
				@include responsive(desktop) {
					content: '';
					position: absolute;
					width: 2px;
					height: 2px;
					border-radius: 50%;
					top: 50%;
					margin-top: -1px;
					background-color: $black;
				}
			}
		}
	}
}

.swiper-button-next {
	width: 40px;

	&:after {
		width: 40px;
		height: 18px;
		font-size: 0;
		background: url(../images/arrow-dark.svg) 0 0/cover no-repeat;
	}
	
	&:focus {
		outline: none;
	}
}

.swiper-button-prev {
	width: 40px;
	
	&:after {
		width: 40px;
		height: 18px;
		font-size: 0;
		background: url(../images/arrow-dark.svg) 0 0/cover no-repeat;
		transform: rotate(-180deg);
	}
	
	&:focus {
		outline: none;
	}
}

.swiper-pagination {
	@include responsive(device) {
		display: none;
	}
}


.main-likes {
	background-color: $beige2;
	position: relative;

	@include responsive(mobile) {
		padding: 120px 0 0;
	}
	
	@include responsive(tablet) {
		padding: 170px 0 0;
	}

	@include responsive(desktop) {
		padding: 350px 0 200px;
	}

	&__title {
		@include responsive(tablet) {
			max-width: 500px;
		}

		@include responsive(desktop) {
			max-width: 710px;
			margin-left: 10px;
		}
	}

	&__list {
		display: flex;
		
		@include responsive(device) {
			flex-flow: column;
		}
		
		@include responsive(desktop) {
			margin-top: 175px;
			max-width: 1430px;
			margin-left: auto;
			justify-content: space-between;
		}
	}

	&__item {
		display: flex;
		flex-flow: column;

		@include responsive(mobile) {
			margin-top: 40px;
			padding-top: 40px;
			border-top: 1px solid $light-gray;
		}

		@include responsive(tablet) {
			max-width: 400px;
			margin: 50px auto 0;
		}

		@include responsive(desktop) {
			max-width: 390px;
		}

		&:first-child {
			@include responsive(mobile) {
				margin-top: 0;
				border-top-color: transparent;
			}
		}
		
		&:last-child {
			@include responsive(desktop) {
				margin-right: 0;
			}
		}
	}

	&__author {
		display: flex;
		align-items: center;
		margin-top: 25px;
	}

	&__author-img {
		min-width: 52px;
		min-height: 52px;
		border-radius: 50%;
		overflow: hidden;
		margin-right: 20px;
		
		img {
			max-width: 100%;
			display: block;
		}
	}

	&__author-info {
		color: $light-gray;
	}

	h2 {
		@include title(48px, 153%);
		letter-spacing: .25rem;
	}

	&__text {
		font-size: 1.125rem;
		line-height: 1.75;
	}
}

.main-likes-top {
	@include responsive(device) {
		display: none;
	}

	@include responsive(desktop) {
		position: absolute;
		right: 20.5%;
		top: 0;
		transform: translate(0, -50%);
	}
}

.main-likes-content {
	@include responsive(mobile) {
		max-width: 50%;
		margin: 80px 0 120px;
	}
	
	@include responsive(tablet) {
		max-width: 30%;
		margin: 80px 0 120px 10%;
	}
	
	@include responsive(desktop) {
		margin-left: 11%;
		margin-top: 320px;
	}
}

.main-likes-bottom {
	position: absolute;
	right: 13%;
	bottom: 0;
	transform: translate(0, 43%);
	
	@include responsive(mobile) {
		max-width: 30%;
	}
	
	@include responsive(tablet) {
		max-width: 20%;
	}
}


.main-stories {
	background-color: $dark-green;

	@include responsive(mobile) {
		padding: 130px 0 50px;
	}
	
	@include responsive(tablet) {
		padding: 90px 0 100px;
	}

	@include responsive(desktop) {
		padding: 410px 0;
	}

	&__content {
		max-width: 500px;
		margin: 0 auto;
		display: flex;
		flex-flow: column;
		align-items: center;
		color: $beige1;

		h3 {
			@include title(34px, 164%);
		}

		img {
			margin: 30px 0;
		}
	}

	&__info {
		max-width: 330px;
		text-align: center;

		p {
			margin-bottom: 22px;
		}
	}
}



.join-us {
	display: flex;
	background: url(../images/join-us-bg.jpg) 50% 0/cover no-repeat;

	@include responsive(mobile) {
		background-position: 50% 100%;
		height: 460px;
	}

	@include responsive(tablet) {
		min-height: 890px;
	}

	@include responsive(desktop) {
		min-height: 1050px;
	}

	&__content {
		margin: auto auto 115px;

		@include responsive(mobile) {
			max-width: 340px;
		}

		@include responsive(portdesktop) {
			max-width: 600px;
		}

		h2 {
			@include title(54px, 138%);
			color: $beige1;
			text-align: center;
			margin-bottom: 50px;
		}
	}
}

.join-us-form {
	position: relative;
	margin: 0 auto;

	@include responsive(mobile) {
		margin: 0 26px;
	}

	@include responsive(desktop) {
		max-width: 520px;
	}

	&__info {
		position: absolute;

		span {
			font-size: 24px;
			margin-top: 13px;
			display: block;
			color: $beige1;
			
			&.error {
				color: $red-error;
			}
		}
	}
}

.footer {
	@include responsive(device) {
		padding: 110px 0 60px;
	}

	@include responsive(desktop) {
		padding: 210px 0 60px;
	}

	&__content {
		width: 100%;
		max-width: 1610px;
		margin: 0 auto;
		padding: 0 26px;
		box-sizing: border-box;
		display: flex;
		flex-flow: wrap;
		justify-content: space-between;
	}

	&__mail {
		p {
			color: $light-gray;
			font-size: .875rem;
			margin-bottom: 1.6rem;
		}

		a {
			text-decoration: none;
			position: relative;
			color: $black;

			@include responsive(device) {
				font-size: 21px;
			}

			@include responsive(desktop) {
				font-size: 24px;
			}

			&:after {
				content: '';
				left: 0;
				right: 0;
				position: absolute;
				bottom: -5px;
				height: 1px;
				background-color: $black;
			}
		}
	}

	&__menu {
		@include responsive(mobile) {
			width: 100%;
			margin-top: 30px;
		}

		@include responsive(portdesktop) {
			width: 49%;
		}

		nav {
			display: flex;
			flex-flow: wrap;
			justify-content: space-between;
		}
		
		ul {
			
			@include responsive(device) {
				margin-top: 60px;
				width: 50%;
			}
		}

		li {
			color: $light-gray;
			font-size: .875rem;
			margin-bottom: .05rem;

			&:first-child {
				margin-bottom: 1rem;
			}

			a {
				color: $black;
				text-decoration: none;
			}
		}
	}

	&__top {
		color: $black;
		font-size: .875rem;
		width: 100%;

		@include responsive(device) {
			margin-top: 100px;
		}

		@include responsive(desktop) {
			margin-top: 180px;
		}

		span {
			@include responsive(desktop) {
				cursor: pointer;
			}
		}
	}

	&__copyright {
		width: 100%;
		font-size: .875rem;
		color: $black;
		
		@include responsive(device) {
			margin-top: 100px;
		}
		
		@include responsive(desktop) {
			margin-top: 130px;
		}
	}
}


.desktop {
	.catalog__category,
	.catalog__info {
		opacity: 0;
		transition: opacity .3s ease-in-out;

		&:hover {
			&:before {
				content: '';
			}

			.catalog__category,
			.catalog__info {
				opacity: 1;
			}
		}
		
	}
}


.catalog-page {
	@include responsive(device) {
		padding: 88px 0 120px;
	}

	@include responsive(desktop) {
		display: flex;
		padding-top: 250px;
		margin-bottom: 430px;
	}

	&__menu-mobile {
		@include responsive(device) {
			position: relative;
			padding-left: 30px;
			font-size: .875rem;
			margin-bottom: 24px;
		}
		
		@include responsive(desktop) {
			display: none;
		}
		
		&:before {
			@include responsive(device) {
				content: '';
				position: absolute;
				width: 21px;
				height: 11px;
				background: url(../images/arrow-dark.svg) 0 50%/contain no-repeat;
				left: 0;
				top: 25%;
				transform: rotate(180deg);
			}
		}
	}
	
	&__menu {
		@include responsive(device) {
			display: none;
		}

		@include responsive(desktop) {
			min-width: 250px;
			margin-top: 10px;
		}
		
		.menu-catalog {
			li {
				&:first-child {
					font-size: 18px;
				}

				&.active {
					a {
						color: $black;
					}
				}
			}

			a {
				text-decoration: none;
				color: $light-gray;
				transition: color .3s ease-in-out;

				&:hover {
					color: $black;
				}
			}
		}
	}
	
	&__title {
		@include responsive(device) {
			margin-bottom: 1rem;
		}

		@include responsive(desktop) {
			display: none;
		}

		h1 {
			@include responsive(device) {
				font-size: 24px;
				font-family: 'Pangram', sans-serif;
				text-transform: none;
			}
		}
	}
	
	&__content {
		@include responsive(device) {
			width: 100%;
		}

		@include responsive(desktop) {
			width: calc(100% - 270px)
		}
		
		.catalog__item {
			@include responsive(mobile) {
				&:nth-child(3n+1) {
					width: 100%;
					padding-top: 100%;
				}

				padding-top: 65%;
			}

			@include responsive(tablet) {
				width: 50%;
				padding-top: 50%;
			}
		}
	}
}

.menu-catalog {
	display: flex;
	flex-flow: column;
}

.spinner {
	display: flex;
	justify-content: center;
	width: 100%;
}

.spinner-animate,
.spinner-animate:after {
	border-radius: 50%;
	width: 42px;
	height: 42px;
}

.spinner-animate {
	margin-top: 80px;
	font-size: 3px;
	position: relative;
	border: 1.1em solid $black;
	border-bottom: 1.1em solid #C4BFA6;
	transform: translateZ(0);
	animation: animate 1.5s infinite linear;
}

@keyframes animate {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

.catalog-item {
	
	@include responsive(desktop) {
		display: flex;
		flex-flow: column wrap;
		padding-top: 115px;
		margin-bottom: 430px;
	}
	
	&__about {
		width: 100%;
		
		@include responsive(device) {
			padding-top: 88px;
		}
	}
	
	&__details {
		width: 100%;
		padding: 360px 0;
	}
	
	&__description {
		display: flex;
		width: 100%;
	}
	
	&__faq {
		padding: 360px 0 460px;
	}
	
	&__other-toys {
		background-color: $dark-green;
		padding: 360px 0;
		width: 100%;
		
		h2 {
			color: $beige1;
		}
	}
	
	&__quantity {
		background-color: #B8B393;
		height: 60px;
		margin-left: 9px;
		min-width: 155px;
	}
}

.quantity {
	display: flex;
	justify-content: space-between;
	
	&__minus {
		width: 60px;
		height: 60px;
		background: url(../images/minus.svg) 50% 50% no-repeat;
	}
	
	&__count {
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: .875rem;
	}
	
	&__plus {
		width: 60px;
		height: 60px;
		background: url(../images/plus.svg) 50% 50% no-repeat;
	}
}

.about-goods {

	@include responsive(device) {
		display: flex;
		flex-flow: column;
	}

	&__top {
		@include responsive(desktop) {
			float: right;
			min-height: 200px;
			width: 50%;
			padding: 0 5%;
			box-sizing: border-box;
			max-width: 686px;
		}
	}
	
	&__slider {
		@include responsive(device) {
			width: 100%;
		}
		
		@include responsive(desktop) {
			width: 50%;
			float: left;
		}
		
		img {
			max-width: 100%;
		}
	}
	
	&__title {
		@include responsive(desktop) {
			margin-top: 120px;
			display: flex;
			justify-content: space-between;
			align-items: baseline;
		}
		
		.share {
			@include responsive(desktop) {
				margin: 5px 0 auto;
				color: $light-gray;
				display: flex;
			}
			
			span {
				display: block;
				width: 24px;
				height: 24px;
				background: url(../images/plus.svg) 50% 60% no-repeat;
			}
		}
	}

	h1 {
		@include title(36px, 164%)
	}

	&__info {
		@include responsive(device) {
			width: 100%;
		}

		@include responsive(desktop) {
			width: 50%;
			padding-left: 5%;
			max-width: 686px;
			padding-top: 50px;
			float: right;
		}
		
	}

	&__description {
		max-width: 455px;
		margin: 45px 0 55px;
	}
	
	&__add-info {
		display: flex;
		
	}
}

.faq {
	display: flex;

	&__title {
		width: 33%;
	}

	&__questions {
		width: 67%;
	}
}

.breadcrumbs {
	display: flex;
	
	li {
		&:not(:first-child) {
			position: relative;
			margin-left: 9px;
			padding-left: 9px;

			&:before {
				content: '';
				position: absolute;
				top: 50%;
				left: 0;
				margin-left: -1px;
				margin-top: -2px;
				width: 3px;
				height: 3px;
				border-radius: 50%;
				background-color: $black;
			}
		}
	}
	
	a {
		color: $light-gray;
		font-size: .875rem;
		text-decoration: none;
	}
}

.catalog-details {
	display: flex;
	
	@include responsive(device) {
		flex-flow: column;
	}

	&__heading {
		@include responsive(device) {
			width: 100%;
		}
		
		@include responsive(desktop) {
			width: 33%;
		}
	}
	
	&__content {
		@include responsive(device) {
			width: 100%;
		}

		@include responsive(desktop) {
			width: 67%;
		}
	}
}

.goods-description {
	display: flex;
	width: 100%;
	overflow: hidden;
	
	@include responsive(device) {
		flex-flow: column;
		width: 100%;
	}

	&__img {
		@include responsive(device) {
			width: 100%;
		}
		
		@include responsive(desktop) {
			width: 50%;
			display: flex;
			align-items: baseline;
		}
		
		img {
			max-width: 100%;
		}
	}
	
	&__info {
		background-color: #D4D2C3;

		@include responsive(device) {
			width: 100%;
		}

		@include responsive(desktop) {
			width: 50%;
			display: flex;
			justify-content: center;
		}
	}
	
	&__info-floating {
		display: flex;
		flex-flow: column;
		justify-content: center;
		max-width: 568px;
		
		h2 {
			margin-bottom: 30px;
		}
		
		p {
			margin-bottom: 1rem;
		}
	}
}

.other-toys {
	&__slider {
		.catalog__item {
			width: 100%;
			padding-top: 100%;
		}
	}
}

.accordion {

}

.section {
	border-bottom: 1px solid $light-gray;

	.section-content {
		display: none;
	}

	&:first-child {
		.section-content {
			display: block;
		}
	}

	&.active {
		border-bottom: 1px solid $light-gray;

		.section-title {
			color: $light-gray;
			
			&:after {
				background: url(../images/minus.svg) 50% 50% no-repeat;
			}
		}
	}
}

.section-title {
	font-size: 21px;
	padding: 28px 0;
	display: block;
	text-decoration: none;
	color: $black;
	position: relative;

	&:after {
		content: '';
		position: absolute;
		width: 12px;
		height: 12px;
		right: 0;
		top: 50%;
		margin-top: -6px;
		background: url(../images/plus.svg) 50% 50% no-repeat;
	}
}

.section-content {
	display: none;
	padding-bottom: 20px;
}