@import "_reset";
@import "_variables";
@import "_mixins";
@import "_typography";
@import "_forms-elements";

* {
	box-sizing: border-box;
}

section {
	min-height: 100vh;
}

html {
	overflow-x: hidden;
}

.loading-screen {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $beige1;
	z-index: 100;
	
	&__svg {
		width: 210px;
		height: 90px;
		position: relative;
	}
	
	.loading-overlay {
		position: absolute;
		background-color: rgba($beige1, .75);
		top: 0;
		bottom: 0;
		width: 100%;
		animation: loading 5s .5s forwards;
	}
}

@keyframes loading {
	0% {
		bottom: 0;
	}
	40% {
		bottom: 90px;
	}
	80% {
		bottom: 40px;
	}
	100% {
		bottom: 90px;
	}
}

.overlay {
	position: fixed;
	z-index: 100;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba($dark-green, .5);
	display: none;
}


body {
	height: 100vh;
	position: relative;
	min-width: 360px;
	background-color: $beige1;
	font: 16px/170% 'Pangram', sans-serif;
	letter-spacing: .01rem;
	scroll-behavior: smooth;

	&.cart-sm-opened {
		position: relative;

		.overlay {
			display: block;
		}
	}
	
	&.menu-opened {
		.mobile-menu-img,
		.mobile-menu-logo {
			@include responsive(device) {
				opacity: 1;
			}
		}

		.out {
			transform: translateY(0);
		}

		.close-btn {
			@include responsive(device) {
				display: block;
			}
		}

		main,
		footer,
		.join-us {
			opacity: 0;
			height: 0;
		}
	}
	
	&.loading {
		overflow: hidden;
	}
}

.container {
	width: 100%;
	max-width: 1610px;
	margin: 0 auto;
	padding: 0 26px;
	box-sizing: border-box;
}

.d-none {
	display: none;
}

.hidden {
	visibility: hidden;
}

.header-wrapper {
	transition: transform .3s ease-in-out;

	&.out {
		.header,
		.menu-content {
			transform: translateY(-100%);
		}
	}
	
	&--index {
		.header {
			background-color: $dark-green;

			.header__logo {
				a {
					background: url(../images/raduga-grez.svg) 0 0/contain no-repeat;
				}
			}

			.menu-btn {
				background: url(../images/menu-light.svg) 50% 50% no-repeat;
			}
		}

		.menu li a {
			@include responsive(desktop) {
				color: $beige1;
			}
		}

		.menu-search {
			a {
				&:after {
					background: url(../images/icon-search.svg) 50% 50% no-repeat;
				}
			}
		}

		.header__cart {
			span {
				background-color: $beige1;
				color: $black;
			}
		}
	}
}

.header {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99;
	background-color: $beige1;
	transition: transform .3s ease-in-out;

	@include responsive(device) {
		padding: 30px 26px;
	}
	
	@include responsive(desktop) {
		padding: 40px 26px;
		box-sizing: border-box;
	}
	
	&__content {
		display: flex;
		width: 100%;

		@include responsive(device) {
			align-items: center;
		}

		@include responsive(desktop) {
			max-width: 1610px;
			margin: 0 auto;
			align-items: center;
		}
	}

	&__logo {
		width: 140px;
		display: flex;
		align-items: center;

		a {
			display: block;
			width: 100%;
			height: 14px;
			background: url(../images/raduga-grez-dark.svg) 0 0/contain no-repeat;
		}
	}
	
	&__cart {
		margin-left: auto;

		@include responsive(device) {
			margin-right: 20px;
		}
		
		span {
			display: flex;
			align-items: center;
			justify-content: center;
			min-width: 30px;
			padding: .25rem;
			box-sizing: border-box;
			height: 30px;
			border-radius: 50%;
			font-size: 13px;
			color: $beige1;
			background-color: $black;
			cursor: pointer;
		}
	}

	&__menu {
		@include responsive(device) {
			margin-left: auto;
		}
		@include responsive(desktop) {
			display: flex;
			margin: 0 auto;
		}
		
		nav {
			@include responsive(device) {
				display: block;
				position: absolute;
				right: 0;
				left: 100%;
				top: 0;
				bottom: 0;
				overflow-y: auto;
				overflow-x: hidden;
				background-color: #E4E3DD;
				z-index: 2;
			}
		}
	}

	&__info {
		display: flex;
		flex-flow: column;
		align-items: center;
		justify-content: center;
		height: 100vh;
		padding-top: 90px;
		
		h1 {
			color: $beige1;
			max-width: 230px;
			text-align: center;
			position: relative;
			z-index: 1;
			letter-spacing: .07rem;
			margin-top: -10px;
		}
	}
}

.mobile-menu-img {
	@include responsive(device) {
		opacity: 0;
		margin: 40px 0 0 auto;
		transition: opacity .25s ease-in-out;
	}

	@include responsive(desktop) {
		display: none;
	}
}

.mobile-menu-logo {
	@include responsive(device) {
		opacity: 0;
		height: 16px;
		transition: opacity .25s ease-in-out;
	}
	
	@include responsive(desktop) {
		display: none;
	}
}

.close-btn {
	width: 27px;
	height: 26px;
	background: url(../images/close-dark.svg) 0 0 no-repeat;
	cursor: pointer;
}



.menu-back {
	@include responsive(device) {
		width: 28px;
		height: 28px;
		background: url(../images/arrow-dark.svg) 0 50%/contain no-repeat;
		display: block;
		transform: rotate(180deg);
	}
}

.mobile-link {
	@include responsive(device) {
		margin: auto 0 0;
	}
}

.menu-btn {
	@include responsive(device) {
		width: 28px;
		height: 28px;
		background: url(../images/menu-dark.svg) 50% 50% no-repeat;
	}
	
	@include responsive(desktop) {
		display: none;
	}
}

.menu-content {
	position: fixed;
	z-index: 100;
	transition: transform .3s ease-in-out;

	@include responsive(device) {
		display: flex;
		flex-flow: column;
		height: 100%;
		background-color: $beige1;
		left: 100%;
		right: 0;
		opacity: 0;
		padding: 30px 26px 40px;
	}

	@include responsive(desktop) {
		top: 0;
		height: 110px;
		display: flex;
		justify-content: center;
		width: 50%;
		margin: 0 25%;
	}
	
	.close-btn {
		@include responsive(device) {
			z-index: 3;
			right: 26px;
			top: 30px;
			margin-left: auto;
		}
		
		@include responsive(desktop) {
			display: none;
		}
	}

	&__main {
		@include responsive(device) {
			display: flex;
			flex-flow: column;
			align-items: baseline;
			top: 0;
			animation: opacity 1s;
			height: 100%;
		}
		
		@include responsive(desktop) {
			display: flex;
			align-items: center;
			height: 100%;
		}

		li {
			@include responsive(device) {
				margin-top: 20px;
			}

			a {
				white-space: nowrap;

				@include responsive(device) {
					font-family: 'Hatton', serif;
					text-transform: uppercase;
				}
				
				@include responsive(desktop) {
					font-family: 'Pangram', sans-serif;
				}
			}
		}
	}

	&__catalog {
		display: none;
		height: 100%;
		width: 100%;
		background-color: $beige1;
		position: fixed;
		
		.menu-catalog {
			li {
				a {
					color: $black;
					text-decoration: none;
				}
			}
		}

		&.active {
			display: block;
			animation: opacity 1s;
		}

	}
}

@keyframes opacity {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes slideDown {
	from {
		height: 0;
	}
	to {
		height: auto;
	}
}


.menu {
	display: flex;
	
	@include responsive(device) {
		flex-flow: column;
		width: 100%;
		margin-top: 10px;
	}

	li {
		@include responsive(desktop) {
			margin: 0 33px;
		}
		
		&.contact-us {
			@include responsive(desktop) {
				display: none;
			}
		}

		a {
			text-decoration: none;
			color: $black;

			@include responsive(device) {
				white-space: nowrap;
			}
		}
	}
}

.menu-search {
	a {
		padding-right: 24px;
		position: relative;
		
		&:after {
			@include responsive(desktop) {
				content: '';
				position: absolute;
				width: 16px;
				height: 28px;
				right: 0;
				background: url(../images/icon-search-dark.svg) 50% 50% no-repeat;
			}
		}
	}
}

.menu-catalog {
	@include responsive(device) {
		margin: 25px 0 10px;
	}
	
	@include responsive(desktop) {
		margin: 0 0 80px;
	}

	&:not(:last-child) {
		li {
			position: relative;

			&:first-child {
				&:after {
					content: '';
					position: absolute;
					width: 11px;
					height: 1px;
					left: 0;
					bottom: -7px;
					background-color: $black;
				}
			}
		}
	}

	li {
		&:first-child {
			font-size: 1.25rem;
			margin-bottom: 15px;
		}

		margin-bottom: .25rem;
	}
}



.main-index {
	min-height: 100vh;
	background: #5C6240 url(../images/main-bg.jpg) 50% 0/cover no-repeat;
}


.header-video {
	width: 100%;
	object-fit: cover;
	margin-bottom: 45px;
	overflow: hidden;

	@include responsive(mobile) {
		max-width: 200px;
		height: 290px;
		margin-top: -50px;
	}

	@include responsive(portdesktop) {
		max-width: 324px;
		height: 420px;
		margin-top: -80px;
	}

	video {
		max-width: 100%;

		@include responsive(mobile) {
			margin-top: -40px;
		}

		@include responsive(portdesktop) {
			margin-top: -80px;
		}
	}
}

.cookies-info {
	position: fixed;
	z-index: 9;
	background-color: #464B3E;
	padding: 34px 40px;
	color: $beige1;
	
	@include responsive(device) {
		bottom: 40px;
		max-width: 324px;
		left: 50%;
		margin-left: -162px;
	}
	
	@include responsive(desktop) {
		max-width: 406px;
		bottom: 80px;
		right: 7%;
	}
	
	p {
		font-size: .875rem;
		letter-spacing: 0.01rem;
	}

	button {
		background-color: transparent;
		border: 0;
		color: $beige1;
		margin-top: 25px;
		font-size: .875rem;
		cursor: pointer;
		position: relative;
		padding: 0;
		@include links();
		
		&:focus {
			outline: none;
		}
	}
	
	&.hidden {
		display: none;
	}
}

main,
footer,
.join-us {
	transition: opacity .3s ease-in-out;
}


.main-about-us {
	padding: 120px 0 0;
	
	@include responsive(desktop) {
		padding: 300px 0 370px;
	}

	.title-small {
		text-align: center;
	}

	h2 {
		@include title(48px, 153%);
		max-width: 520px;
		letter-spacing: .25rem;
	}
}

.main-modern {
	margin: 0 auto 100px;

	@include responsive(desktop) {
		margin: 0 auto 460px;
	}

	.title-small {
		@include responsive(device) {
			text-align: left;
			color: $light-gray;
		}
	}

	&__title {
		position: relative;
		z-index: 9;

		@include responsive(desktop) {
			max-width: 1370px;
			margin: 110px auto 0;
		}
	}

	&__content {
		display: flex;
		justify-content: center;

		@include responsive(device) {
			flex-flow: column;
		}

		@include responsive(desktop) {
			margin-top: -150px;
		}
	}

	&__text {
		display: flex;

		@include responsive(mobile) {
			padding-top: 15%;
		}

		@include responsive(desktop) {
			max-width: 410px;
			padding-top: 175px;
		}

		&:last-child {
			align-items: center;
		}

		p {
			padding-right: 15px;
			margin-bottom: 40px;
		}
	}

	&__text-floating {

		@include responsive(mobile) {
			margin: 17% 0 0 40px;
		}

		@include responsive(tablet) {
			margin: 40px 0 0 40%;
		}

		@include responsive(desktop) {
			margin: 145px 0 0 50px;
		}
	}

	&__img {
		position: relative;

		img {
			display: block;
			max-width: 100%;
		}

		.main-about-top {
			position: absolute;
			top: 40px;
			right: 0;
			transform: translate(70%, 0);
			z-index: 1;

			@include responsive(mobile) {
				max-width: 40%;
				transform: translate(10%, -20%);
			}

			@include responsive(tablet) {
				max-width: 20%;
				transform: translate(-60%, 30%);
			}
		}

		.main-about-content {
			@include responsive(mobile) {
				max-width: 80%;
				margin: 60px auto 0;
			}
			
			@include responsive(tablet) {
				max-width: 60%;
				margin: 60px auto 0;
			}
			
			img {
				max-width: 100%;
			}
		}

		.main-about-bottom {
			position: absolute;
			bottom: 0;
			left: 0;
			transform: translate(-57%, 23%);
			z-index: 1;

			@include responsive(mobile) {
				max-width: 45%;
				transform: translate(0, 50%);
			}

			@include responsive(tablet) {
				max-width: 25%;
				transform: translate(40%, 30%);
			}
		}
	}
}

.catalog {
	&--main {

		.catalog__item {
			@include responsive(device) {
				width: 50%;
				padding-top: 50%;
			}

			@include responsive(landdesktop) {
				width: 25%;
				padding-top: 25%;
			}

			&:first-child {
				@include responsive(device) {
					width: 100%;
					padding-top: 100%;
				}

				@include responsive(landdesktop) {
					width: 50%;
					padding-top: 50%;
				}

				.main-catalog__content {
					@include responsive(landdesktop) {
						padding: 50px;
					}
				}
			}
		}
	}

	h3 {
		@include title(34px, 164%);
		letter-spacing: .15rem;
	}

	&__title {
		max-width: 320px;
		
		@include responsive(device) {
			margin-bottom: 20px;
		}
		
		@include responsive(desktop) {
			margin-left: 10px;
			margin-bottom: 30px;
		}
	}

	&__list {
		overflow: hidden;
	}

	&__image {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		object-fit: cover;
		
		@include responsive(device) {
			padding: 2px;
		}

		@include responsive(desktop) {
			padding: 10px;
		}
	}

	&__item {
		position: relative;
		float: left;
		transition: opacity .3s ease-in-out;
		
		@include responsive(device) {
			width: 50%;
			padding-top: 50%;
		}
		
		@include responsive(landdesktop) {
			width: 33%;
			padding-top: 33%;
		}

		&:hover {
			&:before {
				content: '';
			}

			.catalog__category,
			.catalog__info,
			.add-to-cart {
				opacity: 1;
			}
		}

		&:before {
			background-color: rgba($green, .3);
			position: absolute;
			z-index: 2;
			
			@include responsive(device) {
				content: '';
				top: 2px;
				right: 2px;
				bottom: 2px;
				left: 2px;
			}
			
			@include responsive(desktop) {
				content: none;
				top: 10px;
				right: 10px;
				bottom: 10px;
				left: 10px;
			}
		}

		img {
			max-width: 100%;
			width: 100%;
			height: 100%;
		}
	}

	&__content {
		display: flex;
		flex-flow: column;
		position: absolute;
		z-index: 3;

		@include responsive(device) {
			padding: 15px;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}

		@include responsive(desktop) {
			padding: 25px;
			top: 10px;
			right: 10px;
			bottom: 10px;
			left: 10px;
		}
	}
	
	&__category {
		color: $beige-text;
		font-size: 14px;
		line-height: 170%;
	}

	&__info {
		margin-top: auto;
		color: $beige-text;
		
		@include responsive(desktop) {
			margin-bottom: 40px;
		}
	}

	&__name {
		@include responsive(device) {
			font-size: 16px;
			line-height: 130%;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
		}

		@include responsive(desktop) {
			font-size: 18px;
			line-height: 170%;
		}
	}

	&__price {
		font-size: 16px;
		line-height: 170%;
	}

	.add-to-cart {
		@include responsive(device) {
			display: none;
		}

		@include responsive(desktop) {
			font-size: 14px;
			line-height: 170%;
			color: $beige-text;
			text-decoration: none;
			display: inline-block;
			position: absolute;
			bottom: 35px;
			left: 35px;
			z-index: 3;
			opacity: 0;
			transition: opacity .3s ease-in-out;
			@include links();
		}
	}
}

.main-categories {
	@include responsive(mobile) {
		margin: 120px auto 0;
	}

	&__slider {
		@include responsive(mobile) {
			margin: 0 -26px;
		}
		
		@include responsive(tablet) {
			margin: 170px -26px 0;
		}

		@include responsive(desktop) {
			margin-bottom: 430px;
		}

		.swiper-container {
			max-width: 1540px;
			overflow: hidden;
		}
		
		.swiper-pagination {
			@include responsive(device) {
				display: none;
			}
		}

		.swiper-slide {
			display: flex;

			@include responsive(tablet) {
				min-height: 640px;
			}

			&__text {
				display: flex;
				align-items: baseline;
				flex-flow: column;
				justify-content: flex-end;
				box-sizing: border-box;

				@include responsive(device) {
					position: absolute;
					color: $beige-text;
					padding: 90px 26px 0;
					max-width: 400px;
				}

				@include responsive(desktop) {
					width: 34%;
					padding-right: 150px;
				}

				a {
					margin-top: 60px;
				}

				h3 {
					max-width: 180px;
					@include title(34px, 164%);
					margin-bottom: 40px;
					letter-spacing: .15rem;
				}

				.title-small {
					margin-bottom: 44px;
				}

				.btn {
					@include responsive(device) {
						color: $beige1;
						border-color: $beige1;
					}
				}
			}

			&__img {
				display: flex;
				justify-content: flex-end;

				@include responsive(mobile) {
					height: 600px;
				}

				@include responsive(tablet) {
					width: 100%;
				}

				@include responsive(desktop) {
					width: 66%;
				}

				img {

					@include responsive(desktop) {
						max-width: 100%;
					}
				}
			}

			&__buttons {
				height: 40px;
				
				@include responsive(device) {
					position: absolute;
					margin-top: -80px;
					width: 100%;
					color: $beige1;
				}
				
				@include responsive(desktop) {
					position: relative;
					width: 66%;
					float: right;
					margin-top: 20px;
				}
				
				.swiper-button-prev,
				.swiper-button-next {
					&:after {
						@include responsive(device) {
							background-image: url(../images/arrow-light.svg);
						}
					}
				}
				
				.devider {
					@include responsive(desktop) {
						position: relative;
						padding: 0 10px 0 8px;
					}

					&:before {
						@include responsive(desktop) {
							content: '';
							position: absolute;
							width: 2px;
							height: 2px;
							border-radius: 50%;
							top: 50%;
							margin-top: -1px;
							background-color: $black;
						}
					}
				}
			}
		}
	}
}

.swiper-button-prev,
.swiper-button-next {
	width: 40px;
	
	&:after {
		width: 40px;
		height: 20px;
		font-size: 0;
		background: url(../images/arrow-dark.svg) 0 0/contain no-repeat;
	}

	&:focus {
		outline: none;
	}
}

.swiper-button-prev {
	&:after {
		transform: rotate(-180deg);
	}
}

.main-likes {
	background-color: $beige2;
	position: relative;

	@include responsive(mobile) {
		padding: 120px 0;
	}
	
	@include responsive(tablet) {
		padding: 170px 0;
	}

	@include responsive(desktop) {
		padding: 350px 0 200px;
	}

	&__title {
		@include responsive(tablet) {
			max-width: 500px;
		}

		@include responsive(desktop) {
			max-width: 710px;
			margin-left: 10px;
		}
	}

	&__list {
		display: flex;
		
		@include responsive(device) {
			flex-flow: column;
		}
		
		@include responsive(desktop) {
			margin-top: 175px;
			max-width: 1430px;
			margin-left: auto;
			justify-content: space-between;
		}
	}

	&__item {
		display: flex;
		flex-flow: column;

		@include responsive(mobile) {
			margin-top: 40px;
			padding-top: 40px;
			border-top: 1px solid $light-gray;
		}

		@include responsive(tablet) {
			max-width: 400px;
			margin: 50px auto 0;
		}

		@include responsive(desktop) {
			max-width: 390px;
		}

		&:first-child {
			@include responsive(mobile) {
				margin-top: 0;
				border-top-color: transparent;
			}
		}
		
		&:last-child {
			@include responsive(desktop) {
				margin-right: 0;
			}
		}
	}

	&__author {
		display: flex;
		align-items: center;
		margin-top: 25px;
	}

	&__author-img {
		min-width: 52px;
		min-height: 52px;
		border-radius: 50%;
		overflow: hidden;
		margin-right: 20px;
		
		img {
			max-width: 100%;
			display: block;
		}
	}

	&__author-info {
		color: $light-gray;
	}

	h2 {
		@include title(48px, 153%);
		letter-spacing: .25rem;
	}

	&__text {
		font-size: 1.125rem;
		line-height: 1.75;
	}
}

.main-likes-top {
	@include responsive(device) {
		display: none;
	}

	@include responsive(desktop) {
		position: absolute;
		right: 20.5%;
		top: 0;
		transform: translate(0, -50%);
	}
}

.main-likes-content {
	@include responsive(mobile) {
		max-width: 50%;
		margin: 80px 0 120px;
	}
	
	@include responsive(tablet) {
		max-width: 30%;
		margin: 80px 0 120px 10%;
	}
	
	@include responsive(desktop) {
		margin-left: 11%;
		margin-top: 320px;
	}
	
	img {
		max-width: 100%;
	}
}

.main-likes-bottom {
	position: absolute;
	right: 13%;
	bottom: 0;
	transform: translate(0, 43%);
	
	@include responsive(mobile) {
		max-width: 30%;
	}
	
	@include responsive(tablet) {
		max-width: 20%;
	}
	
	img {
		max-width: 100%;
	}
}


.main-stories {
	background-color: $dark-green;

	@include responsive(mobile) {
		padding: 130px 0 50px;
	}
	
	@include responsive(tablet) {
		padding: 90px 0 100px;
	}

	@include responsive(desktop) {
		padding: 410px 0;
	}

	&__content {
		max-width: 500px;
		margin: 0 auto;
		display: flex;
		flex-flow: column;
		align-items: center;
		color: $beige1;

		h3 {
			@include title(34px, 164%);
		}

		img {
			margin: 30px 0;
		}
	}

	&__info {
		max-width: 330px;
		text-align: center;

		p {
			margin-bottom: 22px;
		}
	}
}



.join-us {
	display: flex;
	background: url(../images/join-us-bg.jpg) 50% 0/cover no-repeat;

	@include responsive(mobile) {
		background-position: 50% 100%;
		height: 460px;
	}

	@include responsive(tablet) {
		min-height: 890px;
	}

	@include responsive(desktop) {
		min-height: 1050px;
	}

	&__content {
		margin: auto auto 115px;

		@include responsive(mobile) {
			max-width: 340px;
		}

		@include responsive(portdesktop) {
			max-width: 600px;
		}

		h2 {
			@include title(54px, 138%);
			color: $beige1;
			text-align: center;
			margin-bottom: 50px;
		}
	}
}

.join-us-form {
	position: relative;
	margin: 0 auto;

	@include responsive(mobile) {
		margin: 0 26px;
	}

	@include responsive(desktop) {
		max-width: 520px;
	}

	&__info {
		position: absolute;

		span {
			font-size: 24px;
			margin-top: 13px;
			display: block;
			color: $beige1;
			
			&.error {
				color: $red-error;
			}
		}
	}
}

.footer {
	max-width: 1610px;
	margin: 0 auto;
	box-sizing: border-box;

	@include responsive(device) {
		padding: 110px 26px 60px;
	}

	@include responsive(desktop) {
		padding: 210px 26px 60px;
	}

	&__content {
		width: 100%;
		display: flex;
		flex-flow: wrap;
		justify-content: space-between;
	}

	&__mail {
		p {
			color: $light-gray;
			font-size: .875rem;
			margin-bottom: 1.6rem;
		}

		a {
			text-decoration: none;
			position: relative;
			color: $black;

			@include responsive(device) {
				font-size: 21px;
			}

			@include responsive(desktop) {
				font-size: 24px;
			}

			&:after {
				content: '';
				left: 0;
				right: 0;
				position: absolute;
				bottom: -5px;
				height: 1px;
				background-color: $black;
			}
		}
	}

	&__menu {
		@include responsive(mobile) {
			width: 100%;
			margin-top: 30px;
		}

		@include responsive(portdesktop) {
			width: 49%;
		}

		nav {
			display: flex;
			flex-flow: wrap;
			justify-content: space-between;
		}
		
		ul {
			
			@include responsive(device) {
				margin-top: 60px;
				width: 50%;
			}
		}

		li {
			color: $light-gray;
			font-size: .875rem;
			margin-bottom: .05rem;

			&:first-child {
				margin-bottom: 1rem;
			}

			a {
				color: $black;
				text-decoration: none;
			}
		}
	}

	&__top {
		color: $black;
		font-size: .875rem;
		width: 100%;

		@include responsive(device) {
			margin-top: 100px;
		}

		@include responsive(desktop) {
			margin-top: 180px;
		}

		span {
			@include responsive(desktop) {
				cursor: pointer;
			}
		}
	}

	&__copyright {
		width: 100%;
		font-size: .875rem;
		color: $black;
		opacity: 1 !important;
		
		@include responsive(device) {
			margin-top: 100px;
		}
		
		@include responsive(desktop) {
			margin-top: 130px;
		}
	}
}


.desktop {
	.catalog__category,
	.catalog__info {
		opacity: 0;
		transition: opacity .3s ease-in-out;

		&:hover {
			&:before {
				content: '';
			}

			.catalog__category,
			.catalog__info {
				opacity: 1;
			}
		}
	}
	.checkout__summary {
		@include responsive(desktop) {
			display: block !important;
		}
	}
}


.catalog-page {
	@include responsive(device) {
		padding: 88px 0 120px;
	}

	@include responsive(desktop) {
		display: flex;
		padding-top: 250px;
		margin-bottom: 430px;
	}

	&__menu-mobile {
		@include responsive(device) {
			position: relative;
			padding-left: 30px;
			font-size: .875rem;
			margin-bottom: 24px;
		}
		
		@include responsive(desktop) {
			display: none;
		}
		
		&:before {
			@include responsive(device) {
				content: '';
				position: absolute;
				width: 21px;
				height: 11px;
				background: url(../images/arrow-dark.svg) 0 50%/contain no-repeat;
				left: 0;
				top: 25%;
				transform: rotate(180deg);
			}
		}
	}
	
	&__menu {
		@include responsive(device) {
			display: none;
		}

		@include responsive(desktop) {
			min-width: 250px;
			margin-top: 10px;
		}
		
		.menu-catalog {
			li {
				&:first-child {
					font-size: 18px;
				}

				&.active {
					a {
						color: $black;
					}
				}
			}

			a {
				text-decoration: none;
				color: $light-gray;
				transition: color .3s ease-in-out;

				&:hover {
					color: $black;
				}
			}
		}
	}
	
	&__title {
		@include responsive(device) {
			margin-bottom: 1rem;
		}

		@include responsive(desktop) {
			display: none;
		}

		h1 {
			@include responsive(device) {
				font-size: 24px;
				font-family: 'Pangram', sans-serif;
				text-transform: none;
			}
		}
	}
	
	&__content {
		@include responsive(device) {
			width: 100%;
		}

		@include responsive(desktop) {
			width: calc(100% - 270px)
		}
		
		.catalog__item {
			@include responsive(mobile) {
				&:nth-child(3n+1) {
					width: 100%;
					padding-top: 100%;
				}

				padding-top: 65%;
			}

			@include responsive(tablet) {
				width: 50%;
				padding-top: 50%;
			}
		}
	}
}

.menu-catalog {
	display: flex;
	flex-flow: column;
}

.spinner {
	display: flex;
	justify-content: center;
	width: 100%;
}

.spinner-animate,
.spinner-animate:after {
	border-radius: 50%;
	width: 42px;
	height: 42px;
}

.spinner-animate {
	margin-top: 80px;
	font-size: 3px;
	position: relative;
	border: 1.1em solid $black;
	border-bottom: 1.1em solid #C4BFA6;
	transform: translateZ(0);
	animation: animate 1.5s infinite linear;
}

@keyframes animate {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

.catalog-item {
	
	@include responsive(desktop) {
		display: flex;
		flex-flow: column wrap;
		padding-top: 115px;
	}
	
	&__about {
		width: 100%;
		
		@include responsive(device) {
			padding-top: 88px;
		}
	}
	
	&__details {
		width: 100%;
		
		@include responsive(device) {
			padding: 100px 0 120px;
		}
		
		@include responsive(desktop) {
			padding: 360px 0;
		}
		
	}
	
	&__description {
		display: flex;
		width: 100%;
	}
	
	&__faq {
		
		@include responsive(device) {
			padding: 120px 0;
		}
		
		@include responsive(desktop) {
			padding: 360px 0 460px;
		}
	}
	
	&__other-toys {
		background-color: $dark-green;
		width: 100%;

		@include responsive(device) {
			padding: 120px 0;
		}

		@include responsive(desktop) {
			padding: 360px 0;
		}

		h2 {
			color: $beige1;
		}
	}
	
	&__quantity {
		background-color: #B8B393;
		margin-left: 9px;
		
		@include responsive(device) {
			min-width: 120px;
		}
		
		@include responsive(desktop) {
			height: 60px;
			min-width: 155px;
		}
	}
}

.quantity {
	display: flex;
	justify-content: center;
	align-items: flex-start;

	@include responsive(desktop) {
		width: 160px;
	}

	&__minus {
		&:before {
			background: url(../images/minus.svg) 50% 50%/contain no-repeat;
		}
	}

	&__count {
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: .875rem;
		width: 40px;
		text-align: center;
		background-color: #B8B393;
		border: 0;
		padding: 0 3px;
		font-family: 'Pangram', sans-serif;

		@include responsive(device) {
			height: 50px;
		}

		@include responsive(desktop) {
			height: 60px;
		}

		&:focus {
			outline: none;
		}
	}
	
	&__plus {

		&:before {
			background: url(../images/plus.svg) 50% 50%/contain no-repeat;
		}
	}

	button {
		border-radius: 0;
		border: 0;
		cursor: pointer;
		background-color: transparent;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 30px;
		
		&:before {
			content: '';
			position: absolute;
			width: 12px;
			height: 12px;
		}

		@include responsive(device) {
			height: 50px;
		}

		@include responsive(desktop) {
			height: 60px;
		}

		&:focus {
			outline: none;
		}

		&:active {
			margin-top: 1px;
		}
	}
	
	&--sm {
		align-items: center;
		width: auto;
		margin-left: 14px;

		button {
			width: 24px;
			height: 24px;

			&:before {
				width: 8px;
				height: 8px;
			}
		}
		
		input {
			height: 24px;
			width: 30px;
			background-color: transparent;
		}
	}
}

.about-goods {

	@include responsive(device) {
		display: flex;
		flex-flow: column;
	}

	&__top {
		@include responsive(device) {
			padding: 0 26px;
			display: flex;
			flex-flow: wrap;
		}

		@include responsive(desktop) {
			float: right;
			min-height: 200px;
			width: 50%;
			padding: 100px 5% 0;
			box-sizing: border-box;
		}
	}
	
	&__slider {
		@include responsive(device) {
			width: 100%;
			max-width: 716px;
			margin: 20px auto 0;
		}
		
		@include responsive(desktop) {
			width: 50%;
			float: left;
		}
		
		img {
			max-width: 100%;
			width: 100%;
		}
		
		.swiper-button-next,
		.swiper-button-prev {
			@include responsive(device) {
				margin-top: auto;
				bottom: 20px;
			}

			&:after {
				@include responsive(device) {
					background-image: url(../images/arrow-light.svg);
				}
			}
		}

		.swiper-button-next {
			@include responsive(device) {
				right: 20px;
			}
		}

		.swiper-button-prev {
			@include responsive(device) {
				left: 20px;
			}
		}
	}
	
	&__title {
		@include responsive(device) {
			width: 80%;
		}

		@include responsive(desktop) {
			margin-top: 120px;
			display: flex;
			justify-content: space-between;
			align-items: baseline;
			max-width: 686px;
		}
		
	}
	
	&__price {
		@include responsive(device) {
			width: 20%;
			margin-left: auto;
			padding-top: .5rem;
		}
	}

	h1 {
		@include title(36px, 164%);
		max-width: 500px;
	}

	&__info {
		@include responsive(device) {
			width: 100%;
			padding: 0 26px;
			box-sizing: border-box;
			max-width: 768px;
			margin: 0 auto;
		}

		@include responsive(desktop) {
			width: 50%;
			padding-left: 5%;
			padding-top: 50px;
			float: right;
		}
	}

	&__description {
		max-width: 500px;
		margin: 45px 0 55px;
	}

	&__add-info {
		display: flex;
	}

	.swiper-button-next,
	.swiper-button-prev {
		@include responsive(desktop) {
			display: none;
		}
	}
}

.share {
	position: relative;

	@include responsive(desktop) {
		margin: 5px 0 auto;
		color: $light-gray;
		display: flex;
		cursor: pointer;
	}

	&--mobile {
		@include responsive(device) {
			margin-top: 40px;
			display: flex;
			align-items: center;
			
			.share__buttons {
				left: 0;
			}
		}
		
		@include responsive(desktop) {
			display: none;
		}
	}
	
	&--desktop {
		@include responsive(device) {
			display: none;
		}
		
		@include responsive(desktop) {
			.share__buttons {
				right: 0;
			}
		}
	}
	
	&.active {
		.icon {
			background: url(../images/minus.svg) 50% 60%/contain no-repeat;
		}
	}
	
	&__buttons {
		display: none;
		position: absolute;
		width: 146px;
		background-color: $beige2;
		top: 30px;
		padding: .5rem .75rem;
		box-sizing: border-box;
		
		.ya-share2,
		.ya-share2 * {
			width: 100%;
		}
		
		.ya-share2__container_size_m {
			font-size: .875rem;
		}
		
		.ya-share2__title {
			font-family: "Pangram", sans-serif;
		}
		
		.ya-share2__list {
			width: 100%;
		}

		.ya-share2__badge,
		.ya-share2__icon {
			display: none;
		}
		
		.ya-share2__item {
			height: 40px;
			display: flex !important;
			align-items: center;
			margin: 0 !important;
			
			&:first-child {
				border-bottom: 1px solid #C4BFA6;
			}
		}
		
		.ya-share2__container_size_m .ya-share2__badge + .ya-share2__title {
			margin: 0;
		}
		
		&.opened {
			display: flex;
		}
	}

	.icon {
		display: block;
		background: url(../images/plus.svg) 50% 60%/contain no-repeat;
		width: 8px;
		height: 8px;
		margin-left: 8px;

		@include responsive(desktop) {
			margin: 7px 0 0 12px;
			width: 12px;
			height: 12px;
		}
	}
}

.faq {
	display: flex;
	
	@include responsive(device) {
		flex-flow: column;
	}
	
	&__image {
		@include responsive(device) {
			display: none;
		}
		@include responsive(desktop) {
			transform: translate(-20%, 0);
		}
	}

	&__title {
		@include responsive(device) {
			width: 100%;
		}

		@include responsive(desktop) {
			width: 33%;
		}
	}

	&__questions {

		@include responsive(device) {
			width: 100%;
		}

		@include responsive(desktop) {
			width: 67%;
		}
	}
}

.breadcrumbs {
	@include responsive(device) {
		width: 100%;
	}
	
	display: flex;
	
	li {
		&:not(:first-child) {
			position: relative;
			margin-left: 9px;
			padding-left: 9px;

			&:before {
				content: '';
				position: absolute;
				top: 50%;
				left: 0;
				margin-left: -1px;
				margin-top: -2px;
				width: 3px;
				height: 3px;
				border-radius: 50%;
				background-color: $black;
			}
		}
	}
	
	a {
		color: $light-gray;
		font-size: .875rem;
		text-decoration: none;
	}
}

.catalog-details {
	display: flex;
	
	@include responsive(device) {
		flex-flow: column;
	}

	&__heading {
		@include responsive(device) {
			width: 100%;
		}
		
		@include responsive(desktop) {
			width: 33%;
		}
	}
	
	&__content {
		@include responsive(device) {
			width: 100%;
		}

		@include responsive(desktop) {
			width: 67%;
		}
	}
	
	h5 {
		color: $light-gray;
		margin: 2rem 0 1rem;
		
		@include responsive(device) {
			font-size: 21px;
		}
	}
}

.goods-description {
	display: flex;
	width: 100%;
	overflow: hidden;
	
	@include responsive(device) {
		flex-flow: column;
		width: 100%;
	}

	&__img {
		@include responsive(device) {
			width: 100%;
		}
		
		@include responsive(desktop) {
			width: 50%;
			display: flex;
			align-items: baseline;
		}
		
		img {
			max-width: 100%;
			display: block;
		}
	}
	
	&__info {
		background-color: #D4D2C3;

		@include responsive(device) {
			width: 100%;
			padding: 120px 26px;
		}

		@include responsive(desktop) {
			width: 50%;
			display: flex;
			justify-content: center;
		}
	}
	
	&__info-floating {
		display: flex;
		flex-flow: column;
		justify-content: center;
		max-width: 568px;
		
		@include responsive(tablet) {
			margin: 0 auto;
		}
		
		h2 {
			margin-bottom: 30px;
		}
		
		p {
			margin-bottom: 1rem;
		}
	}
}

.other-toys {
	&__slider {
		@include responsive(device) {
			margin-top: 40px;
		}
		
		.catalog__item {
			width: 100%;
			padding-top: 100%;
		}
		
		.swiper-container {
			padding-bottom: 60px;
		}
		
		.swiper-pagination {
			display: flex;
			align-items: center;
			justify-content: center;
		}
		
		.swiper-pagination-bullet {
			width: 4px;
			height: 4px;
			background-color: rgba($beige1, .5);
		}
		
		.swiper-pagination-bullet-active {
			width: 8px;
			height: 8px;
			background-color: $beige1;
		}
	}
}

.section {
	border-bottom: 1px solid rgba($light-gray, .3);

	.section-content {
		display: none;
	}

	&:first-child {
		.section-content {
			display: block;
		}
	}

	&.active {
		border-bottom: 1px solid rgba($light-gray, .3);

		.section-title {
			color: $light-gray;
			
			&:after {
				background: url(../images/minus.svg) 50% 50% no-repeat;
			}
		}
	}
}

.section-title {
	padding: 28px 30px 28px 0;
	display: block;
	text-decoration: none;
	color: $black;
	position: relative;

	@include responsive(mobile) {
		font-size: 18px;
	}

	@include responsive(portdesktop) {
		font-size: 21px;
	}

	&:after {
		content: '';
		position: absolute;
		width: 12px;
		height: 12px;
		right: 0;
		top: 0;
		margin-top: 35px;
		background: url(../images/plus.svg) 50% 50% no-repeat;
	}
}

.section-content {
	display: none;
	padding-bottom: 20px;
}

.cart-sm {
	position: fixed;
	top: 0;
	bottom: 0;
	z-index: 101;
	background-color: $beige1;
	display: flex;
	flex-flow: column;
	
	@include responsive(device) {
		width: 350px;
		right: -350px;
		padding: 30px 25px;
	}
	
	@include responsive(desktop) {
		width: 536px;
		right: -536px;
		padding: 40px;
	}
	
	&--checkout {
		@include responsive(device) {
			//position: absolute;
			position: static;
			right: 0;
			width: 100%;
		}
		
		@include responsive(desktop) {
			right: 0;
			width: auto;
			position: relative;
			min-height: 100vh;
		}
		
	}
	
	&--mini {
		.cart-sm__total {
			@include responsive(desktop) {
				max-width: 250px;
				margin-left: auto;
			}
		}
	}
	
	&__header {
		display: flex;
		justify-content: space-between;
		
		h4 {
			@include responsive(device) {
				font-size: 18px;
			}
			
			@include responsive(desktop) {
				font-size: 24px;
			}
		}
	}
	
	&__list {
		border-top: 1px solid rgba($black, .5);
		border-bottom: 1px solid rgba($black, .5);
		padding: 32px 0;
		margin-top: 28px;
		
		@include responsive(device) {
			height: calc(100% - 200px);
		}

		@include responsive(desktop) {
			height: calc(100% - 208px);
		}
	}
	
	&__item {
		display: flex;
		border-bottom: 1px solid rgba($black, .5);
		
		@include responsive(device) {
			padding-bottom: 20px;
			margin-bottom: 20px;
			padding-right: 18px;
		}
		
		@include responsive(desktop) {
			padding-right: 16px;
			padding-bottom: 30px;
			margin-bottom: 30px;
		}

		&:last-child {
			margin-bottom: 0;
			border-bottom: 0;
			padding-bottom: 0;
		}
	}

	&__img {
		@include responsive(device) {
			min-width: 80px;
			width: 80px;
		}

		@include responsive(desktop) {
			min-width: 140px;
			width: 140px;
		}

		img {
			max-width: 100%;
			display: block;
		}
	}

	&__content {
		padding-left: 22px;
		display: flex;
		flex-flow: column;
		height: auto;
		flex-grow: 1;
	}

	&__name-price {
		display: flex;
		justify-content: space-between;
		margin-bottom: 1rem;
	}
	
	&__name {
		padding-right: 20px;
		color: $black;
		text-decoration: none;
	}
	
	&__price {
		font-size: .875rem;
	}
	
	&__quantity {
		display: flex;
		align-items: center;
		
		span {
			font-size: .875rem;
		}
	}
	
	&__remove {
		@include responsive(device) {
			margin: auto 0 0;
		}

		@include responsive(desktop) {
			margin: auto 0 20px;
		}

		button {
			color: $light-gray;
			cursor: pointer;
			background-color: transparent;
			padding: 0;
			border: 0;
			font-size: .875rem;
			transition: .3s ease-in-out;

			&:hover {
				color: $light-gray-hover;
			}
			
			&:focus {
				outline: none;
			}
		}
	}

	&__total {
		padding-top: 32px;
		margin-top: auto;

		.btn {
			display: block;
			text-decoration: none;

			@include responsive(device) {
				padding: 13px 50px;
				text-align: center;
				margin-top: 24px;
			}
			@include responsive(desktop) {
				padding: 20px 50px;
				margin-top: 32px;
			}
		}
	}

	&__total-price {
		display: flex;
		justify-content: space-between;

		&--big {
			font-size: 21px;
			border-top: 1px solid rgba($black, .5);
			padding-top: 24px;
			margin-top: 24px;
		}
	}
	
	&__promocode {
		font-size: .875rem;
		padding: 24px 0;
		border-bottom: 1px solid rgba($black, .5);
		cursor: pointer;
		position: relative;
		text-decoration: none;
		
		span {
			color: $black;
		}
		
		&:after {
			content: '';
			position: absolute;
			width: 10px;
			height: 10px;
			background: url(../images/plus.svg) 0 0/contain no-repeat;
			right: 0;
			top: 50%;
			margin-top: -5px;
		}
	}
}

.ss-scroll {
	width: 6px;
	background-color: rgba($black, .2);
}

.checkout {
	display: grid;
	background-color: #F1F1ED;

	@include responsive(device) {
		min-height: 100vh;
		grid-template-areas:
		"logo"
		"summary-btn"
		"summary"
		"tabs"
		"footer";
		grid-template-rows: 80px 60px auto 1fr 75px;
		grid-template-columns: 100%;
	}

	@include responsive(desktop) {
		grid-template-areas:
		"logo summary"
		"tabs summary"
		"footer summary";
		grid-template-rows: 80px 1fr 80px;
		grid-template-columns: 67% 33%;
	}
	
	&.summary-opened {
		@include responsive(device) {
			grid-template-areas:
			"logo"
			"summary"
			"tabs"
			"footer";
			grid-template-rows: 80px auto 1fr 75px;
		}
		
		.checkout-g__summary {
			display: block;
		}
	}

	&__logo {
		grid-area: logo;

		@include responsive(device) {
			padding: 26px;
		}

		@include responsive(desktop) {
			padding: 50px 150px 0 150px;
		}
	}

	&__summary-btn {
		@include responsive(device) {
			grid-area: summary-btn;
			display: flex;
			justify-content: space-between;
			border-top: 1px solid rgba($light-gray, .25);
			border-bottom: 1px solid rgba($light-gray, .25);
			padding: 16px 26px 15px;
		}
		@include responsive(desktop) {
			display: none;
		}

		.summary-text {
			padding-right: 20px;
			position: relative;
			cursor: pointer;

			&:after {
				content: '';
				position: absolute;
				right: 0;
				width: 14px;
				height: 7px;
				top: 50%;
				transform: translateY(-50%);
				background: url(../images/arrow-bottom.svg) 0 0/contain no-repeat;
			}
			
			&.opened {
				&:after {
					transform: rotate(180deg) translateY(50%);
				}
			}
		}
	}

	&__summary {
		@include responsive(device) {
			grid-area: summary;
			display: none;
		}
	}
	
	&__summary-wrapper {
		@include responsive(desktop) {
			grid-area: summary;
			background-color: #E5E3D9;
			min-height: 100vh;
		}
	}
	
	&__tabs {
		grid-area: tabs;
		
		@include responsive(device) {
			padding: 0 26px;
			margin-top: 32px;
		}
		
		@include responsive(desktop) {
			padding: 40px 150px 0;
		}
	}
	
	&__footer {
		grid-area: footer;
		padding-bottom: 40px;
		border-top: 1px solid rgba($black, .7);

		@include responsive(device) {
			margin: 0 26px;
		}

		@include responsive(desktop) {
			margin: auto 150px 0;
		}

		ul {
			display: flex;
			margin-top: 10px;
		}

		li {
			margin-right: 20px;
		}

		a {
			font-size: .875rem;
			color: rgba($black, .5);
			text-decoration: none;
		}
	}
	
	
}


.tabs {
	&__content {
		position: relative;
	}

	&__section {
		margin-top: 30px;
		
		&:first-child {
			margin-top: 0;
		}
	}

	&__item {
		position: absolute;
		top: 0;
		width: 100%;
		opacity: 0;
		transition: opacity .3s ease-in-out;

		h4 {
			font-family: 'Pangram', sans-serif;
			font-size: 21px;
			margin: 0 0 20px;
		}

		&.active {
			opacity: 1;
			position: relative;
			z-index: 1;
		}
	}
	
	.form-buttons {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;

		@include responsive(device) {
			margin-top: 15px;
			margin-bottom: 100px;
		}
		
		@include responsive(desktop) {
			max-width: 755px;
			margin-top: 35px;
		}
		
		.back {
			cursor: pointer;
			
			@include responsive(device) {
				display: none;
			}
		}

		.btn {
			@include responsive(device) {
				width: 100%;
			}
			@include responsive(desktop) {
				padding: 20px 50px;
				min-width: 250px;
				box-sizing: border-box;
			}
		}
	}
	
	&__menu {
		ul {
			display: flex;
			margin-bottom: 30px;
		}
		
		li {
			font-size: .875rem;
			
			&:not(:first-child) {
				position: relative;
				margin-left: 9px;
				padding-left: 9px;
				
				&:before {
					content: '';
					position: absolute;
					top: 50%;
					left: 0;
					margin-left: -1px;
					margin-top: -2px;
					width: 3px;
					height: 3px;
					border-radius: 50%;
					background-color: $black;
				}
			}
			
			&:not(.active) {
				color: $light-gray;
				cursor: pointer;
			}
		}
	}
}

.input-field-wrapper {
	display: flex;
	justify-content: space-between;

	@include responsive(desktop) {
		max-width: 755px;
	}

	.input-field {
		width: 48%;
	}
}

.input-field {
	position: relative;
	width: 100%;
	padding-bottom: 20px;
	
	@include responsive(desktop) {
		max-width: 755px;
	}

	&:last-child {
		padding-bottom: 0;
	}
	
	.inp-text {
		height: 50px;
		width: 100%;
		background-color: $beige1;
		border: 0;
		box-sizing: border-box;
		font-family: 'Pangram', sans-serif;
		padding: 20px 20px 8px 20px;
		font-size: .875rem;
		
		&:focus {
			outline: none;
		}
	}
	
	.label-text {
		position: absolute;
		left: 20px;
		top: 13px;
		font-size: .875rem;
		transition: transform .3s ease-in-out;
		color: rgba($black, .35);
		
		&.focused {
			font-size: 12px;
			transform: translateY(-50%);
		}
	}
	
	&.focused {
		.label-text {
			font-size: 12px;
			transform: translateY(-50%);
		}
	}

	.error-text {
		color: $red-error;
		font-size: 12px;
		line-height: 1.3;
		position: absolute;
		width: 100%;
		left: 0;
	}

	&.error,
	&.success {
		&:after {
			content: '';
			position: absolute;
			right: 0;
			height: 50px;
			width: 2px;
		}
	}

	&.error {
		&:after {
			background-color: $red-error;
		}

		span {
			display: block;
		}
	}

	&.success {
		&:after {
			background-color: $success;
		}
	}
	
	span {
		display: none;
	}
	
}

.inp-checkbox {
	display: none;
	
	&:checked {
		+ .label-checkbox {
			&:before {
				background-image: url(../images/inp-checkbox-active.svg);
			}
		}
	}
}

.label-checkbox {
	cursor: pointer;
	position: relative;
	color: $black !important;
	padding-left: 20px;
	display: block;
	
	@include responsive(device) {
		font-size: .875rem;
		line-height: 1.3;
	}
	
	&:before {
		content: '';
		position: absolute;
		width: 11px;
		height: 11px;
		background: url(../images/inp-checkbox.svg) 0 0 no-repeat;
		left: 0;
		
		@include responsive(device) {
			top: 4px;
		}
		
		@include responsive(desktop) {
			top: 8px;
		}
	}
}

.user-info {
	margin-bottom: 40px;

	&__item {
		background-color: $beige1;
		display: flex;
		align-items: center;
		margin-bottom: 10px;
		padding: 12px 20px;
	}
	
	&__title {
		min-width: 60px;
		color: rgba($black, .35);
		font-size: .875rem;

		@include responsive(device) {
			margin-right: 10px;
		}

		@include responsive(desktop) {
			margin-right: 40px;
		}
	}
	
	&__result {
		flex-grow: 1;
		font-size: .875rem;

		@include responsive(device) {
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
		}
	}
	
	&__button {
		button {
			font-size: .875rem;
			color: rgba($black, .35);
			border: 0;
			padding: 0;
			background-color: transparent;
			cursor: pointer;
		}
	}
}

.fancybox-bg {
	background-color: rgba($dark-green, .5);
}

.fancybox-content {
	width: 480px;
	height: 350px;
	background-color: $beige1;
	
	h4 {
		font-size: 21px;
	}
}

.apply-promocode {
	.input-field {
		margin-top: 45px;

		&.success,
		&.error {
			&:after {
				width: 7px;
				height: 7px;
				border-radius: 50%;
				top: 50%;
				transform: translateY(-50%);
			}
		}

		&.success {
			.inp-promocode {
				border-bottom-color: $success;
			}
		}

		&.error {
			.inp-promocode {
				border-bottom-color: $red-error;
			}
		}
	}

	.btn {
		width: 100%;
		margin-top: 60px;
	}
	
	.fancybox-close-small {
		display: flex;
		align-items: center;
		justify-content: center;
		
		&:before {
			content: '';
			position: absolute;
			width: 20px;
			height: 20px;
			background: url(../images/close-dark.svg) 0 0/contain no-repeat;
		}

		svg {
			display: none;
		}
	}
}


.about {
	display: grid;
	
	@include responsive(mobile) {
		padding-top: 140px;
		grid-template-areas:
		"header"
		"contentSm"
		"contentBig"
		"fotoMd"
		"fotoSm";
		grid-template-columns: 100%;
	}
	
	@include responsive(tablet) {
		padding-top: 140px;
		grid-template-areas:
		"header contentSm"
		"header contentSm"
		"contentBig contentBig"
		"fotoSm fotoMd";
		grid-template-columns: 50% 50%;
	}
	
	@include responsive(desktop) {
		padding-top: 250px;
		grid-template-areas:
		"header contentSm"
		"contentBig contentSm"
		"contentBig fotoMd"
		"fotoSm fotoSm";
		grid-column-gap: 5%;
		grid-template-columns: 50% 45%;
	}
	
	&__header {
		grid-area: header;
		
		@include responsive(device) {
			padding: 0 26px;
			margin-bottom: 35px;
		}
		
		@include responsive(desktop) {
			max-width: 720px;
			margin: 0 auto 180px;
			padding: 0 26px;
		}
		
		h1 {
			letter-spacing: 7px;
			
			@include responsive(mobile) {
				font-size: 36px;
				line-height: 145%;
				margin-bottom: 25px;
			}
			
			@include responsive(tablet) {
				font-size: 50px;
				line-height: 138%;
				letter-spacing: 7px;
				margin-bottom: 20px;
			}
			
			@include responsive(desktop) {
				font-size: 65px;
				line-height: 140%;
				max-width: 620px;
				margin-bottom: 40px;
			}

			@include responsive(xd) {
				font-size: 75px;
				line-height: 140%;
				max-width: 620px;
				margin-bottom: 40px;
			}
		}

		p {
			max-width: 330px;
			color: $medium-grey;
			
			@include responsive(tablet) {
				max-width: 280px;
			}
			
			@include responsive(desktop) {
				margin-left: auto;
			}
		}
	}
	
	&__content-sm {
		grid-area: contentSm;
		position: relative;
		//overflow: hidden;

		@include responsive(device) {
			margin-bottom: 60px;
		}

		@include responsive(desktop) {
			padding-top: 100px;
		}
	}

	&__content-sm-img-sm {
		@include responsive(device) {
			margin-bottom: 150px;
			//transform: translateX(50%);
		}

		@include responsive(desktop) {
			display: flex;
			justify-content: flex-end;
			max-width: 440px;
			text-align: center;
			margin-bottom: 320px;
		}

		@include responsive(xd) {
			max-width: 640px;
		}

		img {
			@include responsive(device) {
				max-width: 130px !important;
				display: block;
				margin: 0 auto;
			}
		}
	}
	
	&__content-sm-img-lg {
		position: absolute;
		z-index: -1;

		@include responsive(device) {
			top: 70px;
			right: 0;
		}

		@include responsive(desktop) {
			right: 0;
			top: 250px;
		}
		
		img {
			@include responsive(mobile) {
				max-width: 320px !important;
			}
		}
	}
	
	&__content-sm-text {
		@include responsive(device) {
			padding: 0 26px;
		}
		
		@include responsive(tablet) {
			padding-top: 120px;
		}

		@include responsive(desktop) {
			margin: -40px 0 0 -40px;
		}

		@include responsive(xd) {
			padding-left: 60px;
			margin: 0;
		}

		h2 {
			@include responsive(device) {
				margin-bottom: 25px;
			}

			@include responsive(desktop) {
				max-width: 620px;
				margin-bottom: 50px;
			}
		}
		
		p {
			max-width: 330px;
			color: $medium-grey;
		}
	}
	
	&__content-col {
		grid-area: contentBig;
		position: relative;
		
		@include responsive(tablet) {
			transform: translateY(-15%);
		}

		h2 {
			@include responsive(device) {
				padding: 0 26px;
				margin: -250px 0 25px;
			}

			@include responsive(desktop) {
				max-width: 850px;
				margin: -280px 0 40px 15%;
			}

			@include responsive(xd) {
				margin: -100px 0 40px 15%;
			}
		}
		
		.about-col {
			@include responsive(device) {
				padding: 0 26px;
			}

			@include responsive(portdesktop) {
				column-count: 2;
				margin-left: 15%;
			}
			
			p {
				color: $medium-grey;
				
				@include responsive(device) {
					margin-bottom: 1rem;
				}
			}
		}
	}
	
	&__content-col-img-lg {
		@include responsive(mobile) {
			max-width: 260px;
		}
		
		@include responsive(tablet) {
			max-width: 46%;
		}
		
		@include responsive(desktop) {
			max-width: 80%;
		}
		
		@include responsive(xd) {
			max-width: 100%;
		}
	}
	
	&__content-col-img-sm {
		@include responsive(mobile) {
			transform: translate(160%, -170%);
			max-width: 120px;
		}
		
		@include responsive(tablet) {
			max-width: 180px;
			transform: translate(140%, -160%);
		}

		@include responsive(desktop) {
			transform: translate(65%, -200%);
		}

		@include responsive(xd) {
			transform: translate(70%, -280%);
		}
	}
	
	&__foto-md {
		grid-area: fotoMd;
		
		@include responsive(device) {
			display: flex;
		}
		
		@include responsive(desktop) {
			display: flex;
			justify-content: center;
			padding-bottom: 130px;
		}
		
		img {
			@include responsive(mobile) {
				max-width: 160px !important;
				transform: translateX(75%);
			}
			
			@include responsive(tablet) {
				max-width: 240px !important;
				transform: translate(25%, -25%);
			}
		}
	}
	
	&__foto-sm {
		grid-area: fotoSm;

		@include responsive(desktop) {
			padding-top: 100px;
			display: flex;
			transform: translate(60%, 25%);
		}

		@include responsive(xd) {
			padding-top: 270px;
		}

		img {
			@include responsive(mobile) {
				max-width: 110px !important;
				transform: translate(26px, 50%);
			}

			@include responsive(tablet) {
				max-width: 180px !important;
				transform: translate(40%, 80%);
			}
		}
	}
	
	h2 {
		@include responsive(mobile) {
			font-size: 36px;
			line-height: 145%;
		}
		
		@include responsive(tablet) {
			font-size: 50px;
			line-height: 138%;
			letter-spacing: 7px;
		}

		@include responsive(desktop) {
			font-size: 65px;
			letter-spacing: 7px;
			line-height: 140%;
		}

		@include responsive(xd) {
			font-size: 75px;
		}
	}
	
	img {
		max-width: 100%;
	}
}

.faq-page {
	display: flex;
	flex-flow: column wrap;

	@include responsive(device) {
		padding-top: 175px;
	}
	@include responsive(desktop) {
		padding-top: 225px;
	}
}

.footer-img {
	display: flex;

	@include responsive(device) {
		padding-top: 150px;
		transform: translate(0, 20%);
		justify-content: center;
	}

	@include responsive(desktop) {
		justify-content: flex-end;
		margin-top: 300px;
		transform: translate(0, 50%);
	}
	
	img {
		@include responsive(device) {
			max-width: 230px;
		}
	}
}

.wholesale {
	display: flex;
	flex-flow: wrap;
	
	@include responsive(mobile) {
		flex-flow: column;
		padding-top: 100px;
		padding-bottom: 120px;
	}
	
	@include responsive(tablet) {
		padding-top: 170px;
		padding-bottom: 250px;
	}
	
	@include responsive(desktop) {
		padding-top: 255px;
		padding-bottom: 375px;
	}
	
	&__img {
		
		@include responsive(tablet) {
			width: 40%;
		}
		
		@include responsive(desktop) {
			width: 50%;
		}
		
		img {
			max-width: 100%;
		}
	}
	
	&__info {
		@include responsive(mobile) {
			width: 100%;
			padding-top: 40px;
		}
		
		@include responsive(tablet) {
			width: 60%;
			box-sizing: border-box;
			padding: 0 0 0 40px;
		}

		@include responsive(desktop) {
			width: 50%;
			box-sizing: border-box;
			padding: 100px 0 0 100px;
			max-width: 600px;
		}
		
		p {
			margin-bottom: 40px;
		}
		
		a {
			font-size: 24px;
			color: $black;
		}
	}
	
	&__img-center {
		width: 100%;
		display: flex;
		justify-content: flex-end;
		padding-right: 40px;

		@include responsive(device) {
			padding-top: 60px;
		}
		
		@include responsive(desktop) {
			margin-top: -80px;
		}

		img {
			@include responsive(mobile) {
				max-width: 160px;
			}
			
			@include responsive(tablet) {
				max-width: 210px;
			}
		}
	}
	
	&__img-footer {
		width: 100%;
		display: flex;
		
		
		@include responsive(device) {
			padding-top: 60px;
		}
		
		@include responsive(tablet) {
			padding-left: 10%;
		}
		
		@include responsive(desktop) {
			margin-top: -80px;
			padding-left: 20%;
		}
		
		img {
			@include responsive(mobile) {
				max-width: 150px;
			}
			
			@include responsive(tablet) {
				max-width: 210px;
			}
		}
	}
}

