header(class="header")
	.header__logo
		a(href="index.html")
	.header__cart
		span.js-cart-sm 99
	.menu-btn.js-menu
.menu-content
	.close-btn.js-menu-close
	.menu-content__main
		ul.menu
			each item in menu
				li(class= item.class)
					a(href= item.url)= item.name
		img(src="images/mobile-menu-img.jpg" alt="" class="mobile-menu-img")
		a(href="/" class="mobile-link")
			img(src="images/raduga-grez-dark.svg" alt="" class="mobile-menu-logo")
	.menu-content__catalog
		.menu-back.js-menu-back
		each item in menuCatalog
			ul.menu-catalog
				li= item.header
				each subitem in item.links
					li
						a(href="catalogue.html")= subitem.title

.cart-sm
	.cart-sm__header
		h4 Your Cart (2)
		.close-btn.js-cart-sm-close
	.cart-sm__list
		each item in cartSm.slice(0,2)
			.cart-sm__item
				.cart-sm__img
					a(href="catalogue-item.html")
						img(src= item.img alt="")
				.cart-sm__content
					.cart-sm__name-price
						a(href="catalogue-item.html").cart-sm__name= item.name
						.cart-sm__price= item.price
					.cart-sm__quantity
						span Qty:
						.quantity.quantity--sm
							button.quantity__minus
							input(type="text" placeholder="1" value="1").quantity__count
							button.quantity__plus
					.cart-sm__remove
						button Remove

	.cart-sm__total
		.cart-sm__total-price
			span Subtotal
			span $95.00
		button.btn Proceed to checkout